#
# Tamper Devices
#

menu "Tamper devices"

config TAMPER_MCA
	tristate "Tamper support for MCA on Digi ConnectCore SOMs"
	select MFD_MCA_CC6UL if SOC_IMX6UL
	select MFD_MCA_CC8 if ARCH_FSL_MXC

	help
	  Say Y here to build the tamper driver on the MCA of the
	  ConnectCore system-on-modules.

	  To compile this driver as a module, choose M here: the
	  module will be called mca_tamper

endmenu

