#
# General setup
#
CONFIG_POSIX_MQUEUE=y
CONFIG_USELIB=y
CONFIG_FUTEX=y

CONFIG_PREEMPT=y
CONFIG_PREEMPT_COUNT=y

#
# RCU Subsystem
#
# allow user to access kernel config through /proc/config.gz
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_LOG_BUF_SHIFT=16
CONFIG_MEMCG=y
CONFIG_NAMESPACES=y

#
# Kernel Performance Events And Counters
#
CONFIG_PROFILING=y

#
# Kernel Features
#
CONFIG_SCHED_MC=y
CONFIG_MCPM=y
CONFIG_NR_CPUS=2
CONFIG_AEABI=y
CONFIG_HIGHMEM=y
CONFIG_FORCE_MAX_ZONEORDER=12

#
# Boot options
#
CONFIG_ZBOOT_ROM_TEXT=0x0
CONFIG_ZBOOT_ROM_BSS=0x0

#
# CPU Power Management
#

#
# Floating point emulation
#
CONFIG_VFP=y

#
# Networking options
#
CONFIG_DNS_RESOLVER=y

#
# CAN Device Drivers
#
CONFIG_CAN_M_CAN=y
CONFIG_CAN_M_CAN_PLATFORM=y

#
# CAN USB interfaces
#

#
# Bluetooth device drivers
#

#
# Device Drivers
#

#
# Generic Driver Options
#
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y

#
# Disk-On-Chip Device Drivers
#

#
# LPDDR & LPDDR2 PCM memory drivers
#

#
# Misc devices
#
CONFIG_SRAM=y

#
# SCSI support type (disk, tape, CD-ROM)
#
CONFIG_CHR_DEV_SG=y

#
# MII PHY device drivers
#

#
# Input Device Drivers
#

#
# Touchscreen drivers
#
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_TOUCHSCREEN_GOODIX=y

#
# Character devices
#
CONFIG_LEGACY_PTY_COUNT=8

#
# Non-8250 serial port support
#
CONFIG_SERIAL_NONSTANDARD=y

#
# SPI Master Controller Drivers
#

#
# Pin controllers
#
CONFIG_PINCTRL_MCP23S08=y

#
# Memory mapped GPIO drivers
#

#
# Memory Technology Device (MTD) support
#

CONFIG_MTD_SPI_NAND=y
CONFIG_MTD_MCHP23K256=m

#
# Multiple devices driver support
#

CONFIG_MD=y
#
#Device mapper support
#
CONFIG_BLK_DEV_DM=y
CONFIG_DM_CRYPT=y

#
# USB GPIO expanders
#
CONFIG_POWER_RESET=y
CONFIG_POWER_RESET_SYSCON=y

#
# Native drivers
#
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_THERMAL=y

#
# STMicroelectronics thermal drivers
#

#
# Watchdog Device Drivers
#
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_WATCHDOG_SYSFS=y

#
# Sonics Silicon Backplane
#

#
# Multifunction device drivers
#
CONFIG_PROTECTION_CONSUMER=y

#
# Multimedia core support
#

#
# USB HDMI CEC adapters
#
CONFIG_CEC_STM32=m

#
# Camera sensor devices
#
CONFIG_VIDEO_GC2145=m
CONFIG_VIDEO_OV5640=m
CONFIG_VIDEO_ST_MIPID02=m

#
# Graphics support
#
# to solve issue on DK2 screen
# CONFIG_DRM_FBDEV_EMULATION is not set
# CONFIG_DRM_LOAD_EDID_FIRMWARE is not set

#
# Sub-drivers
#

#
# Display Panels
#
CONFIG_DRM_PANEL_ORISETECH_OTM8009A=y
CONFIG_DRM_PANEL_RAYDIUM_RM68200=y
CONFIG_DRM_PANEL_ROCKTECH_HX8394=y

#
# Display Interface Bridges
#
CONFIG_DRM_I2C_ADV7511=y
CONFIG_DRM_SII902X=y

#
# Frame buffer hardware drivers
#
CONFIG_DRM_SIMPLEDRM=y

#
# Console display driver support
#
CONFIG_DRM_STM=y
CONFIG_DRM_STM_DSI=y

#
# Backlight support
#
CONFIG_BACKLIGHT_GPIO=y

#
# HD-Audio
#

#
# STMicroelectronics STM32 SOC audio support
#

CONFIG_SND_SOC_STM32_SPDIFRX=m
CONFIG_SND_SOC_STM32_DFSDM=m

#
# CODEC drivers
#

#
# USB Device Class drivers
#
CONFIG_USB_ACM=m

#
# also be needed; see USB_STORAGE Help for more info
#

#
# Gadget/Dual-role mode requires USB Gadget support to be enabled
#

#
# USB Physical Layer drivers
#

#
# USB UCSI with STM32G07 over I2C
#
CONFIG_TYPEC_UCSI=m
CONFIG_UCSI_STM32G0=m

#
# Platform Support
#

#
# Virtio drivers
#

#
# STM32 HSEM
#
CONFIG_HWSPINLOCK=y
CONFIG_HWSPINLOCK_STM32=y

#
# Clock Source drivers
#
CONFIG_CLKSRC_STM32_LP=y

#
# Regulators
#
CONFIG_REGULATOR_STM32_VREFBUF=y

#
# Remoteproc drivers
#
CONFIG_REMOTEPROC=y
CONFIG_STM32_RPROC=y
CONFIG_REMOTEPROC_SRM_CORE=y
CONFIG_REMOTEPROC_SRM_DEV=y

#
# Rpmsg drivers
#
CONFIG_RPMSG_VIRTIO=y
CONFIG_RPMSG_TTY=m

#
# NVMEM drivers
#
CONFIG_NVMEM_STM32_ROMEM=y


CONFIG_TEE=y

#
# TEE drivers
#
CONFIG_OPTEE=y
# end of TEE drivers

#
# File systems
#
CONFIG_OVERLAY_FS=y
CONFIG_JFFS2_FS=y

#
# Pseudo filesystems
#
CONFIG_TMPFS=y

# Security options
#
CONFIG_KEYS=y

#
# Library routines
#
CONFIG_CRC_ITU_T=m

#
# Default contiguous memory area size:
#
CONFIG_CMA_SIZE_MBYTES=128

#
# Kernel hacking
#

#
# printk and dmesg options
#
CONFIG_DYNAMIC_DEBUG=y

#
# Compile-time checks and compiler options
#
CONFIG_DEBUG_INFO=y
CONFIG_GDB_SCRIPTS=y
CONFIG_DEBUG_SECTION_MISMATCH=y

#
# Debug Oops, Lockups and Hangs
#

#
# Scheduler Debugging
#
CONFIG_DEBUG_PREEMPT=y

#
# Runtime Testing
#

#
# STM32 DFSDM
#
CONFIG_SD_ADC_MODULATOR=y

#
# STM32 IPCC
#
CONFIG_STM32_IPCC=y

#
# SCMI
#
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_ARM_SMC_MBOX=y
CONFIG_REGULATOR_ARM_SCMI=y
CONFIG_ARM_SCMI_CPUFREQ=y

#
# STM32 CPUIDLE
#
CONFIG_CPU_IDLE=y
CONFIG_ARM_STM32_CPUIDLE=y
CONFIG_ARM_CPUIDLE=n

#
# REBOOT
#
CONFIG_REBOOT_MODE=y
CONFIG_SYSCON_REBOOT_MODE=y

#
# RPMSG client sample
#
CONFIG_SAMPLES=y
CONFIG_SAMPLE_RPMSG_CLIENT=m

#
# Block modes
#
CONFIG_CRYPTO_CFB=m
CONFIG_CRYPTO_LRW=m
CONFIG_CRYPTO_OFB=m
