#  ALPHABETICALLY SORTED: $LC_ALL=C sort fragment-02-multiv7_addons.config -o fragment-02-multiv7_addons.config
CONFIG_AEABI=y
CONFIG_ARM_CPUIDLE=n
CONFIG_ARM_SCMI_PROTOCOL=y
CONFIG_ARM_SMC_MBOX=y
CONFIG_ARM_SMC_WATCHDOG=y
CONFIG_ARM_STM32_CPUIDLE=y
CONFIG_BACKLIGHT_GPIO=y
CONFIG_CAN_M_CAN=y
CONFIG_CAN_M_CAN_PLATFORM=y
CONFIG_CHR_DEV_SG=y
CONFIG_CLKSRC_STM32_LP=y
CONFIG_COMMON_CLK_SCMI=y
CONFIG_CPU_FREQ=y
CONFIG_CPU_IDLE=y
CONFIG_CRC_ITU_T=m
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_DEBUG_SECTION_MISMATCH=y
CONFIG_DNS_RESOLVER=y
CONFIG_DRM_I2C_ADV7511=y
CONFIG_DRM_PANEL_ORISETECH_OTM8009A=y
CONFIG_DRM_PANEL_RAYDIUM_RM68200=y
CONFIG_DRM_PANEL_ROCKTECH_HX8394=y
CONFIG_DRM_SII902X=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_DRM_STM=y
CONFIG_DRM_STM_DSI=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_FORCE_MAX_ZONEORDER=12
CONFIG_FUTEX=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y
CONFIG_GDB_SCRIPTS=y
CONFIG_HIGHMEM=y
CONFIG_HWSPINLOCK=y
CONFIG_HWSPINLOCK_STM32=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_JFFS2_FS=y
CONFIG_KEYS=y
CONFIG_LEGACY_PTY_COUNT=8
CONFIG_LOG_BUF_SHIFT=16
CONFIG_MCPM=y
CONFIG_MEMCG=y
CONFIG_MTD_MCHP23K256=m
CONFIG_MTD_SPI_NAND=y
CONFIG_NAMESPACES=y
CONFIG_NR_CPUS=2
CONFIG_NVMEM_STM32_ROMEM=y
CONFIG_OF_OVERLAY=y
CONFIG_OPTEE=y
CONFIG_OVERLAY_FS=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_POSIX_MQUEUE=y
CONFIG_POWER_RESET=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_PREEMPT=y
CONFIG_PREEMPT_COUNT=y
CONFIG_PROFILING=y
CONFIG_REBOOT_MODE=y
CONFIG_REGULATOR_ARM_SCMI=y
CONFIG_REGULATOR_PROTECTION_CONSUMER=y
CONFIG_REMOTEPROC=y
CONFIG_REMOTEPROC_SRM_CORE=y
CONFIG_REMOTEPROC_SRM_DEV=y
CONFIG_RPMSG_CHAR=m
CONFIG_RPMSG_CTRL=m
CONFIG_RPMSG_TTY=m
CONFIG_RPMSG_VIRTIO=y
CONFIG_SAMPLES=y
CONFIG_SAMPLE_RPMSG_CLIENT=y
CONFIG_SCHED_MC=y
CONFIG_SD_ADC_MODULATOR=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_SERIAL_NONSTANDARD=y
CONFIG_SRAM=y
CONFIG_STM32_IPCC=y
CONFIG_STM32_RPROC=y
CONFIG_SYSCON_REBOOT_MODE=y
CONFIG_TEE=y
CONFIG_THERMAL=y
CONFIG_TMPFS=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_TYPEC_UCSI=m
CONFIG_UCSI_STM32G0=m
CONFIG_USB_ONBOARD_HUB=y
CONFIG_USELIB=y
CONFIG_VFP=y
CONFIG_VIDEO_GC2145=m
CONFIG_VIDEO_OV5640=m
CONFIG_VIDEO_STM32_HDMI_CEC=y
CONFIG_VIDEO_ST_MIPID02=m
CONFIG_ZBOOT_ROM_BSS=0x0
CONFIG_ZBOOT_ROM_TEXT=0x0
