#  ALPHABETICALLY SORTED: $LC_ALL=C sort fragment-01-multiv7_cleanup.config -o fragment-01-multiv7_cleanup.config
# CONFIG_ARCH_ACTIONS is not set
# CONFIG_ARCH_AIROHA is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_ARTPEC is not set
# CONFIG_ARCH_ASPEED is not set
# CONFIG_ARCH_AT91 is not set
# CONFIG_ARCH_BCM is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_ARCH_DIGICOLOR is not set
# CONFIG_ARCH_EXYNOS is not set
# CONFIG_ARCH_HIGHBANK is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_HPE is not set
# CONFIG_ARCH_INTEL_SOCFPGA is not set
# CONFIG_ARCH_KEYSTONE is not set
# CONFIG_ARCH_MEDIATEK is not set
# CONFIG_ARCH_MESON is not set
# CONFIG_ARCH_MILBEAUT is not set
# CONFIG_ARCH_MMP is not set
# CONFIG_ARCH_MSTARV7 is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_ARCH_MXC is not set
# CONFIG_ARCH_NPCM is not set
# CONFIG_ARCH_OMAP3 is not set
# CONFIG_ARCH_OMAP4 is not set
# CONFIG_ARCH_QCOM is not set
# CONFIG_ARCH_RDA is not set
# CONFIG_ARCH_REALTEK is not set
# CONFIG_ARCH_REALVIEW is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_ROCKCHIP is not set
# CONFIG_ARCH_S5PV210 is not set
# CONFIG_ARCH_STI is not set
# CONFIG_ARCH_SUNPLUS is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_U8500 is not set
# CONFIG_ARCH_UNIPHIER is not set
# CONFIG_ARCH_VEXPRESS is not set
# CONFIG_ARCH_VIRT is not set
# CONFIG_ARCH_WM8850 is not set
# CONFIG_ARCH_ZYNQ is not set
# CONFIG_ATAGS is not set
# CONFIG_CACHE_L2X0 is not set
# CONFIG_CAN_MCP251X is not set
# CONFIG_CAN_RCAR is not set
# CONFIG_CHROME_PLATFORMS is not set
# CONFIG_CPU_FREQ is not set
# CONFIG_DETECT_HUNG_TASK is not set
# CONFIG_EFI is not set
# CONFIG_ENABLE_MUST_CHECK is not set
# CONFIG_ENABLE_WARN_DEPRECATED is not set
# CONFIG_EXTCON is not set
# CONFIG_GCC_PLUGINS is not set
# CONFIG_GPIO_PCA953X is not set
# CONFIG_GPIO_PCF857X is not set
# CONFIG_I2C_DESIGNWARE_PLATFORM is not set
# CONFIG_I2C_EMEV2 is not set
# CONFIG_I2C_GPIO is not set
# CONFIG_I2C_RK3X is not set
# CONFIG_I2C_SLAVE_EEPROM is not set
# CONFIG_I2C_XILINX is not set
# CONFIG_KEXEC is not set
# CONFIG_LOCKUP_DETECTOR is not set
# CONFIG_MEDIA_SUBDRV_AUTOSELECT is not set
# CONFIG_PCI is not set
# CONFIG_PCI_DOMAINS_GENERIC is not set
# CONFIG_PCI_SYSCALL is not set
# CONFIG_PLAT_SPEAR is not set
# CONFIG_PM_DEVFREQ is not set
# CONFIG_POWER_AVS is not set
# CONFIG_POWER_SUPPLY is not set
# CONFIG_PREEMPT_NONE is not set
# CONFIG_REALTEK_PHY is not set
# CONFIG_REGULATOR_WM8994 is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_SECTION_MISMATCH_WARN_ONLY is not set
# CONFIG_SERIAL_8250 is not set
# CONFIG_SERIAL_BCM63XX is not set
# CONFIG_SERIAL_CONEXANT_DIGICOLOR is not set
# CONFIG_SERIAL_FSL_LPUART is not set
# CONFIG_SERIAL_ST_ASC is not set
# CONFIG_SERIAL_XILINX_PS_UART is not set
# CONFIG_SOC_AM33XX is not set
# CONFIG_SOC_AM43XX is not set
# CONFIG_SOC_BRCMSTB is not set
# CONFIG_SOC_DRA7XX is not set
# CONFIG_SOC_OMAP5 is not set
# CONFIG_SOC_TI is not set
# CONFIG_STAGING is not set
# CONFIG_SUNXI_SRAM is not set
# CONFIG_USB_DWC3 is not set
# CONFIG_USB_MUSB_HDRC is not set
# CONFIG_VIRTIO_CONSOLE is not set
