# CONFIG_ARCH_AIROHA is not set
# CONFIG_ARCH_ARTPEC is not set
# CONFIG_ARCH_ASPEED is not set
# CONFIG_ARCH_AT91 is not set
# CONFIG_ARCH_DIGICOLOR is not set
# CONFIG_ARCH_HIGHBANK is not set
# CONFIG_ARCH_HPE is not set
# CONFIG_ARCH_KEYSTONE is not set
# CONFIG_ARCH_MILBEAUT is not set
# CONFIG_ARCH_MMP is not set
# CONFIG_ARCH_OMAP3 is not set
# CONFIG_ARCH_OMAP4 is not set
# CONFIG_ARCH_STI is not set
# CONFIG_ARCH_SUNPLUS is not set
# CONFIG_ARCH_U8500 is not set
# CONFIG_ARCH_VIRT is not set
# CONFIG_ARCH_WM8850 is not set
# CONFIG_ARCH_ZYNQ is not set
# CONFIG_ARM_CPUIDLE is not set
# CONFIG_KEXEC is not set
# CONFIG_MACH_STM32MP13 is not set
# CONFIG_MACH_STM32MP157 is not set
# CONFIG_PLAT_SPEAR is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_SOC_AM33XX is not set
# CONFIG_SOC_AM43XX is not set
# CONFIG_SOC_DRA7XX is not set
# CONFIG_SOC_OMAP5 is not set
# CONFIG_SPI_STM32_QSPI is not set
# CONFIG_USB_ETH_RNDIS is not set
