// SPDX-License-Identifier: (GPL-2.0-only OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2024 - All Rights Reserved
 * Author: Amelie Delaunay <amelie.delaunay@foss.st.com> for STMicroelectronics.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/input/input.h>
#include "stm32mp215.dtsi"
#include "stm32mp21xf.dtsi"
#include "stm32mp21-pinctrl.dtsi"
#include "stm32mp21xxan-pinctrl.dtsi"
#include "stm32mp215f-dk-ca35tdcid-resmem.dtsi"

/ {
	model = "STMicroelectronics STM32MP215F-DK Discovery Board";
	compatible = "st,stm32mp215f-dk", "st,stm32mp215";

	aliases {
		ethernet0 = &eth1;
		serial0 = &usart2;
		serial1 = &usart6;
		serial2 = &uart4;
		serial3 = &usart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer {
			compatible = "simple-framebuffer";
			clocks = <&rcc CK_KER_LTDC>;
			status = "disabled";
		};
	};

	clocks {
		clk_ext_camera: clk-ext-camera {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <24000000>;
		};
	};

	dmic0: dmic-0 {
		compatible = "dmic-codec";
		#sound-dai-cells = <1>;
		sound-name-prefix = "dmic0";
		status = "okay";

		port {
			dmic0_endpoint: endpoint {
				remote-endpoint = <&mdf_endpoint0>;
			};
		};
	};

	dmic1: dmic-1 {
		compatible = "dmic-codec";
		#sound-dai-cells = <1>;
		sound-name-prefix = "dmic1";
		status = "okay";

		port {
			dmic1_endpoint: endpoint {
				remote-endpoint = <&mdf_endpoint1>;
			};
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		button-user-1 {
			label = "User-1";
			linux,code = <BTN_1>;
			gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};

		button-user-2 {
			label = "User-2";
			linux,code = <BTN_2>;
			gpios = <&gpiof 7 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};

		button-wake-up {
			label = "wake-up";
			linux,code = <KEY_WAKEUP>;
			interrupts-extended = <&optee 0>;
			status = "okay";
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		led-blue {
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&gpioz 3 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	panel_backlight: panel-backlight {
		compatible = "gpio-backlight";
		gpios = <&gpiof 9 GPIO_ACTIVE_HIGH>;
		default-on;
		default-brightness-level = <1>;
		status = "okay";
	};

	panel_rgb: panel-rgb {
		compatible = "panel-dpi";
		enable-gpios = <&gpiog 4 GPIO_ACTIVE_HIGH>;
		backlight = <&panel_backlight>;
		power-supply = <&scmi_v3v3>;
		data-mapping = "bgr666";
		status = "okay";

		width-mm = <105>;
		height-mm = <67>;

		port {
			panel_in_rgb: endpoint {
				remote-endpoint = <&ltdc_out_rgb>;
			};
		};

		panel-timing {
			clock-frequency = <10000000>;
			hactive = <480>;
			vactive = <272>;
			hsync-len = <52>;
			hfront-porch = <10>;
			hback-porch = <10>;
			vsync-len = <10>;
			vfront-porch = <10>;
			vback-porch = <10>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <1>;
		};
	};

	sound {
		compatible = "audio-graph-card";
		label = "STM32MP21-DK";
		dais = <&mdf1_port0 &mdf1_port1>;
		status = "okay";
	};
};

&a35ss_syscfg {
	status = "okay";
};

&arm_wdt {
	timeout-sec = <32>;
	status = "okay";
};

&crc {
	status = "okay";
};

&cryp1 {
	status = "okay";
};

&cs_cpu_debug0 {
	status = "okay";
};

&cs_cti0 {
	status = "okay";
};

&cs_cti1 {
	status = "okay";
};

&cs_cti_cpu0 {
	status = "okay";
};

&cs_etf {
	status = "okay";
};

&cs_etm0 {
	status = "okay";
};

&cs_etr {
	status = "okay";
};

&cs_funnel {
	status = "okay";
};

&cs_replicator {
	status = "okay";
};

&cs_stm {
	status = "okay";
};

&cs_tpiu {
	status = "okay";
};

&csi {
	vdd-supply =  <&scmi_vddcore>;
	vdda18-supply = <&scmi_vdda_1v8>;
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			csi_sink: endpoint {
				remote-endpoint = <&imx335_ep>;
				data-lanes = <0 1>;
				bus-type = <4>;
			};
		};
		port@1 {
			reg = <1>;
			csi_source: endpoint {
				remote-endpoint = <&dcmipp_0>;
			};
		};
	};
};

&dcmipp {
	status = "okay";
	port {
		dcmipp_0: endpoint {
			remote-endpoint = <&csi_source>;
			bus-type = <4>;
		};
	};
};

&ddrperfm {
	st,dram-type = <0>;
	status = "okay";
};

&eth1 {
	status = "okay";
	pinctrl-0 = <&eth1_rmii_pins_a>;
	pinctrl-1 = <&eth1_rmii_sleep_pins_a>;
	pinctrl-names = "default", "sleep";
	phy-mode = "rmii";
	max-speed = <100>;
	phy-handle = <&phy0_eth1>;
	st,ext-phyclk;

	mdio1 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		phy0_eth1: ethernet-phy@0 {
			compatible = "ethernet-phy-id0007.c131";
			reset-gpios =  <&gpioh 11 GPIO_ACTIVE_LOW>;
			reset-assert-us = <1000>;
			reset-deassert-us = <30000>;
			reg = <0>;
		};
	};
};

&i2c2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c2_pins_a>;
	pinctrl-1 = <&i2c2_sleep_pins_a>;
	status = "okay";

	goodix: goodix-ts@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		pinctrl-names = "default";
		pinctrl-0 = <&goodix_pins_a>;
		interrupt-parent = <&gpiof>;
		interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
		AVDD28-supply = <&scmi_v3v3>;
		VDDIO-supply = <&scmi_v3v3>;
		touchscreen-size-x = <480>;
		touchscreen-size-y = <272>;
		status = "okay" ;
	};

	imx335: imx335@1a {
		compatible = "sony,imx335";
		reg = <0x1a>;
		clocks = <&clk_ext_camera>;
		reset-gpios = <&gpiod 5 (GPIO_ACTIVE_HIGH | GPIO_PUSH_PULL)>;
		powerdown-gpios = <&gpiod 0 (GPIO_ACTIVE_HIGH | GPIO_PUSH_PULL)>;
		status = "okay";

		port {
			imx335_ep: endpoint {
				remote-endpoint = <&csi_sink>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <594000000>;
			};
		};
	};
};

&i3c1 {
	pinctrl-names = "default", "init", "sleep";
	pinctrl-0 = <&i3c1_pins_a>;
	pinctrl-1 = <&i3c1_init_pins_a>;
	pinctrl-2 = <&i3c1_sleep_pins_a>;
	status = "disabled";
};

&i3c2 {
	pinctrl-names = "default", "init", "sleep";
	pinctrl-0 = <&i3c2_pins_a>;
	pinctrl-1 = <&i3c2_init_pins_a>;
	pinctrl-2 = <&i3c2_sleep_pins_a>;
	status = "disabled";
};

&ipcc1 {
	status = "okay";
};

&ltdc {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&ltdc_pins_a>;
	pinctrl-1 = <&ltdc_sleep_pins_a>;
	default-on;
	status = "okay";

	port {
		ltdc_out_rgb: endpoint {
			remote-endpoint = <&panel_in_rgb>;
		};
	};
};

&mdf1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&mdf_cck0_pins_a>;
	pinctrl-1 = <&mdf_cck0_sleep_pins_a>;
	#clock-cells = <1>;
	clock-output-names = "cck0";
	clock-frequency = <1536000>;
	status = "okay";

	sitf3: sitf@200 {
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&mdf_sdi3_pins_a>;
		pinctrl-1 = <&mdf_sdi3_sleep_pins_a>;
		st,sitf-mode = "spi";
		clocks = <&mdf1 0>;
		status = "okay";
	};

	filter0: filter@84  {
		st,cic-mode = <4>;
		st,sitf = <&sitf3 0>;
		st,hpf-filter-cutoff-bp = <625>;
		status = "okay";

		asoc_pdm0: mdf-dai {
			compatible = "st,stm32mp25-mdf-dai";
			#sound-dai-cells = <0>;
			io-channels = <&filter0 0>;
			power-domains = <&RET_PD>;
			status = "okay";
			mdf1_port0: port {
				mdf_endpoint0: endpoint {
					remote-endpoint = <&dmic0_endpoint>;
				};
			};
		};
	};

	filter1: filter@104  {
		st,cic-mode = <4>;
		st,sitf = <&sitf3 1>;
		st,hpf-filter-cutoff-bp = <625>;
		status = "okay";

		asoc_pdm1: mdf-dai {
			compatible = "st,stm32mp25-mdf-dai";
			#sound-dai-cells = <0>;
			io-channels = <&filter1 0>;
			power-domains = <&RET_PD>;
			status = "okay";

			mdf1_port1: port {
				mdf_endpoint1: endpoint {
					remote-endpoint = <&dmic1_endpoint>;
				};
			};
		};
	};
};

&scmi_regu {
	scmi_vddcore: regulator@5  {
		reg = <VOLTD_SCMI_STPMIC_BUCK1>;
		regulator-name = "vddcore";
	};
	scmi_vdd3v3_usb: regulator@15  {
		reg = <VOLTD_SCMI_STPMIC_LDO4>;
		regulator-name = "vdd3v3_usb";
	};
	scmi_vdd_flash: regulator@16  {
		reg = <VOLTD_SCMI_STPMIC_LDO5>;
		regulator-name = "vdd_flash";
	};
	scmi_vdda_1v8: regulator@17  {
		reg = <VOLTD_SCMI_STPMIC_LDO6>;
		regulator-name = "vdda_1v8";
	};
	scmi_v3v3: regulator@21  {
		reg = <VOLTD_SCMI_STPMIC_GPO1>;
		regulator-name = "v3v3";
	};
};

&m33_rproc {
	mboxes = <&ipcc1 0x0>, <&ipcc1 0x1>, <&ipcc1 2>;
	mbox-names = "vq0", "vq1", "shutdown";
	memory-region = <&cm33_cube_fw>, <&cm33_cube_data>,
			<&ipc_shmem_1>, <&vdev0vring0>,
			<&vdev0vring1>, <&vdev0buffer>;
	st,syscfg-nsvtor = <&a35ss_syscfg 0xa8 0xffffff80>;
	status = "okay";
};

&sdmmc1 {
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc1_b4_pins_a>;
	pinctrl-1 = <&sdmmc1_b4_od_pins_a>;
	pinctrl-2 = <&sdmmc1_b4_sleep_pins_a>;
	cd-gpios = <&gpiod 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	disable-wp;
	st,neg-edge;
	bus-width = <4>;
	vmmc-supply = <&scmi_vdd_flash>;
	vqmmc-supply = <&scmi_vddio1>;
	status = "okay";
};

&sdmmc2 {
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc2_b4_pins_a &sdmmc2_d47_pins_a>;
	pinctrl-1 = <&sdmmc2_b4_od_pins_a &sdmmc2_d47_pins_a>;
	pinctrl-2 = <&sdmmc2_b4_sleep_pins_a &sdmmc2_d47_sleep_pins_a>;
	non-removable;
	no-sd;
	no-sdio;
	st,neg-edge;
	bus-width = <8>;
	vmmc-supply = <&scmi_v3v3>;
	vqmmc-supply = <&scmi_vddio2>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	status = "okay";
};

&spi1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi1_pins_a>;
	pinctrl-1 = <&spi1_sleep_pins_a>;
	status = "disabled";
};

&uart4 {
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&uart4_pins_a>;
	pinctrl-1 = <&uart4_idle_pins_a>;
	pinctrl-2 = <&uart4_sleep_pins_a>;
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "disabled";
};

&usart2 {
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&usart2_pins_a>;
	pinctrl-1 = <&usart2_idle_pins_a>;
	pinctrl-2 = <&usart2_sleep_pins_a>;
	/delete-property/dmas;
	/delete-property/dma-names;
	status = "okay";
};

/* Bluetooth */
&usart1 {
	pinctrl-names = "default", "sleep", "idle";
	pinctrl-0 = <&usart1_pins_a>;
	pinctrl-1 = <&usart1_sleep_pins_a>;
	pinctrl-2 = <&usart1_idle_pins_a>;
	uart-has-rtscts;
	status = "disabled";
};

&usart6 {
	pinctrl-names = "default", "idle", "sleep";
	pinctrl-0 = <&usart6_pins_a>;
	pinctrl-1 = <&usart6_idle_pins_a>;
	pinctrl-2 = <&usart6_sleep_pins_a>;
	uart-has-rtscts;
	status = "disabled";
};

&usb2_phy2 {
	vdd33-supply = <&scmi_vdd3v3_usb>;
	status = "okay";
};

&usbotg_hs {
	role-switch-default-mode = "peripheral";
	dr_mode = "peripheral";
	usb-role-switch;
	status = "okay";
};
