# SPDX-License-Identifier: GPL-2.0-only
# common clock support for STMicroelectronics SoC family.

menuconfig COMMON_CLK_STM32MP
	bool "Clock support for common STM32MP clocks"
	depends on ARCH_STM32 || COMPILE_TEST
	default y
	select RESET_CONTROLLER
	help
	  Support for STM32MP SoC family clocks.

if COMMON_CLK_STM32MP

config COMMON_CLK_STM32MP135
	bool "Clock driver for stm32mp13x clocks"
	depends on ARM || COMPILE_TEST
	default y
	help
	  Support for stm32mp13x SoC family clocks.

config COMMON_CLK_STM32MP157
	bool "Clock driver for stm32mp15x clocks"
	depends on ARM || COMPILE_TEST
	default y
	help
	  Support for stm32mp15x SoC family clocks.

config COMMON_CLK_STM32MP215
	bool "Clock driver for stm32m21x clocks"
	depends on ARM || ARM64 || COMPILE_TEST
	select COMMON_CLK_REGMAP
	default y
	help
	  Support for stm32mp25x SoC family clocks

config COMMON_CLK_STM32MP257
	bool "Clock driver for stm32mp25x clocks"
	depends on ARM || ARM64 || COMPILE_TEST
	select COMMON_CLK_REGMAP
	default y
	help
	  Support for stm32mp25x SoC family clocks.

endif

config CLK_STM32MP2_CA35SS
    tristate "Clock controller for stm32mp2xx Cortex-A35 subsystem"
    depends on ARCH_STM32 || COMPILE_TEST
    help
      If you say yes here, you will get support for the Arm Cortex-A35 (CA35SS)
      clock controller in STM32MP2 family provided by secure monitor
      (TF-A BL31). This driver uses SMC calls to scale the frequency.
      This driver can also be built as a module.
