/*
 * Copyright 2022, Digi International Inc.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
/* i.MX93 CPU */
#include "../freescale/imx93.dtsi"
/* Digi ConnectCore 93 (SOM) */
#include "ccimx93.dtsi"

/ {
	model = "Digi International ConnectCore 93 DVK";
	compatible = "digi,ccimx93-dvk", "digi,ccimx93", "fsl,imx93";
	digi,machine,name = "ccimx93-dvk";

	chosen {
		stdout-path = &lpuart6;
	};
};

&lpuart6 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

&iomuxc {
	/* Serial console */
	pinctrl_uart6: uart6grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO05__LPUART6_RX			0x31e
			MX93_PAD_GPIO_IO04__LPUART6_TX			0x31e
		>;
	};
};
