/*
 * Copyright 2018-2019, Digi International Inc.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

#include <dt-bindings/usb/pd.h>
/ {
	model = "Digi International ConnectCore 8X Manufacturing Functional Board.";
	compatible = "digi,ccimx8x", "fsl,imx8qxp";
	digi,machine,name = "ccimx8x-mfg-functional";

	chosen {
		bootargs = "console=ttyLP2,115200 earlycon=lpuart32,0x5a080000,115200";
		stdout-path = &lpuart2;
	};
};

&dc0_dpr1_channel1 {
	status = "okay";
};

&dc0_dpr1_channel2 {
	status = "okay";
};

&dc0_dpr1_channel3 {
	status = "okay";
};

&dc0_dpr2_channel1 {
	status = "okay";
};

&dc0_dpr2_channel2 {
	status = "okay";
};

&dc0_dpr2_channel3 {
	status = "okay";
};

&dpu1 {
	status = "okay";
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec_gpio>,
		    <&pinctrl_fec>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	phy-reset-gpios = <&lsio_gpio3 18 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <1>;
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			at803x,eee-disabled;
			at803x,vddio-1p8v;
		};
	};
};

&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	status = "okay";

	/* CSI Parallel Camera */
	ov5640: ov5640@3c {
		compatible = "ovti,ov5640_v3";
		reg = <0x3c>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_parallel_csi>;
		clocks = <&pi0_misc_lpcg 0>;
		clock-names = "csi_mclk";
		pwn-gpios = <&lsio_gpio3 2 GPIO_ACTIVE_LOW>;
		rst-gpios = <&lsio_gpio3 3 GPIO_ACTIVE_HIGH>;
		csi_id = <0>;
		mclk = <24000000>;
		mclk_source = <0>;
		status = "okay";

		port {
			ov5640_ep: endpoint {
				remote-endpoint = <&parallel_csi_ep>;
			};
		};
	};
};

/* Console */
&lpuart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart2>;
	status = "okay";
};

/* MIPI-CSI0 I2C available on MIPI Camera connector */
&i2c_mipi_csi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_csi0_lpi2c0>;
	pinctrl-1 = <&pinctrl_csi0_lpi2c0_gpio>;
	scl-gpios = <&lsio_gpio3 6 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&lsio_gpio3 5 GPIO_ACTIVE_HIGH>;
	clock-frequency = <100000>;
	status = "okay";

	/* MIPI-CSI2 camera */
	ov5640_mipi: ov5640_mipi@3c {
		compatible = "ovti,ov5640_mipi_v3";
		reg = <0x3c>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mipi>;
		clocks = <&clk_dummy>;
		clock-names = "csi_mclk";
		csi_id = <0>;
		rst-gpios = <&lsio_gpio3 21 GPIO_ACTIVE_HIGH>;
		mclk = <24000000>;
		mclk_source = <0>;
		mipi_csi;
		status = "okay";

		port {
			ov5640_mipi_ep: endpoint {
				remote-endpoint = <&mipi_csi0_ep>;
			};
		};
	};
};

&cameradev {
	parallel_csi;
};

&parallel_csi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	port@0 {
		reg = <0>;
		parallel_csi_ep: endpoint {
			remote-endpoint = <&ov5640_ep>;
		};
	};
};

&isi_0 {
	interface = <6 0 2>;	/* INPUT: 6-PARALLEL CSI */
	parallel_csi;
	status = "okay";
};

&isi_1 {
	interface = <2 0 2>;	/* INPUT: 2-MIPI CSI0 */
	status = "okay";
};

&mipi_csi_0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	/* Camera 0  MIPI CSI-2 (CSIS0) */
	port@0 {
		reg = <0>;
		mipi_csi0_ep: endpoint {
			remote-endpoint = <&ov5640_mipi_ep>;
			data-lanes = <1 2>;
		};
	};
};

/* MIPI display support */
&mipi0_dphy {
	status = "disabled";
};

&mipi0_dsi_host {
	status = "disabled";
};

/*&mipi_dsi_bridge1 {
	status = "disabled";

	panel@0 {
		compatible = "raydium,rm67191";
		reg = <0>;
		dsi-lanes = <4>;
		video-mode = <0>;
		panel-width-mm = <68>;
		panel-height-mm = <121>;
		display-timings {
			timing {
				clock-frequency = <31500000>;
				hactive = <640>;
				vactive = <480>;
				hback-porch = <4>;
				hfront-porch = <10>;
				vback-porch = <34>;
				vfront-porch = <20>;
				hsync-len = <2>;
				vsync-len = <2>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
		port {
			panel1_in: endpoint {
				remote-endpoint = <&mipi_bridge1_out>;
			};
		};
	};

	port@2 {
		mipi_bridge1_out: endpoint {
			remote-endpoint = <&panel1_in>;
		};
	};
};

&mipi_dsi_phy2 {
	status = "disabled";
};

&mipi_dsi2 {
	status = "disabled";
};

&mipi_dsi_bridge2 {
	status = "disabled";

	panel@0 {
		compatible = "raydium,rm67191";
		reg = <0>;
		dsi-lanes = <4>;
		video-mode = <0>;
		panel-width-mm = <68>;
		panel-height-mm = <121>;
		display-timings {
			timing {
				clock-frequency = <31500000>;
				hactive = <640>;
				vactive = <480>;
				hback-porch = <4>;
				hfront-porch = <10>;
				vback-porch = <34>;
				vfront-porch = <20>;
				hsync-len = <2>;
				vsync-len = <2>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
		port {
			panel2_in: endpoint {
				remote-endpoint = <&mipi_bridge2_out>;
			};
		};
	};

	port@2 {
		mipi_bridge2_out: endpoint {
			remote-endpoint = <&panel2_in>;
		};
	};
};*/

&dc0_pc {
	status = "okay";
};

&dc0_prg1 {
	status = "okay";
};

&dc0_prg2 {
	status = "okay";
};

&dc0_prg3 {
	status = "okay";
};

&dc0_prg4 {
	status = "okay";
};

&dc0_prg5 {
	status = "okay";
};

&dc0_prg6 {
	status = "okay";
};

&dc0_prg7 {
	status = "okay";
};

&dc0_prg8 {
	status = "okay";
};

&dc0_prg9 {
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	disable-over-current;
	status = "okay";
};

&usbotg3 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

/* IOMUX */
&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
			/* Castellated pads */
			IMX8QXP_USDHC1_RESET_B_LSIO_GPIO4_IO19		0x06000020
			IMX8QXP_USDHC1_VSELECT_LSIO_GPIO4_IO20		0x06000020
			IMX8QXP_USDHC1_WP_LSIO_GPIO4_IO21			0x06000020
			IMX8QXP_USDHC1_CD_B_LSIO_GPIO4_IO22		0x06000020
			IMX8QXP_USDHC1_CMD_LSIO_GPIO4_IO24			0x06000020
			IMX8QXP_USDHC1_DATA0_LSIO_GPIO4_IO25		0x06000020
			IMX8QXP_USDHC1_DATA1_LSIO_GPIO4_IO26		0x06000020
			IMX8QXP_USDHC1_DATA2_LSIO_GPIO4_IO27		0x06000020
			IMX8QXP_USDHC1_DATA3_LSIO_GPIO4_IO28		0x06000020
			IMX8QXP_USDHC1_CLK_LSIO_GPIO4_IO23			0x06000020
			IMX8QXP_UART0_TX_LSIO_GPIO1_IO22			0x06000020
			IMX8QXP_UART0_RX_LSIO_GPIO1_IO21			0x06000020
			IMX8QXP_MIPI_DSI0_I2C0_SCL_LSIO_GPIO1_IO25		0x06000020
			IMX8QXP_MIPI_DSI0_I2C0_SDA_LSIO_GPIO1_IO26		0x06000020
			IMX8QXP_MIPI_DSI0_GPIO0_00_LSIO_GPIO1_IO27		0x06000020
			IMX8QXP_MIPI_DSI1_I2C0_SCL_LSIO_GPIO1_IO29		0x06000020
			IMX8QXP_MIPI_DSI1_I2C0_SDA_LSIO_GPIO1_IO30		0x06000020
			IMX8QXP_MIPI_DSI1_GPIO0_00_LSIO_GPIO1_IO31		0x06000020
			IMX8QXP_MIPI_DSI1_GPIO0_01_LSIO_GPIO2_IO00		0x06000020
			IMX8QXP_QSPI0A_SS1_B_LSIO_GPIO3_IO15		0x06000020
			IMX8QXP_QSPI0A_SCLK_LSIO_GPIO3_IO16		0x06000020
			IMX8QXP_QSPI0A_DQS_LSIO_GPIO3_IO13			0x06000020
			IMX8QXP_QSPI0A_SS0_B_LSIO_GPIO3_IO14		0x06000020
			IMX8QXP_FLEXCAN2_RX_LSIO_GPIO1_IO19		0x06000020
			IMX8QXP_FLEXCAN2_TX_LSIO_GPIO1_IO20		0x06000020
			IMX8QXP_FLEXCAN1_RX_LSIO_GPIO1_IO17		0x06000020
			IMX8QXP_FLEXCAN1_TX_LSIO_GPIO1_IO18		0x06000020
			IMX8QXP_FLEXCAN0_RX_LSIO_GPIO1_IO15		0x06000020
			IMX8QXP_FLEXCAN0_TX_LSIO_GPIO1_IO16		0x06000020
			IMX8QXP_ADC_IN1_LSIO_GPIO1_IO09			0x06000020
			IMX8QXP_ADC_IN0_LSIO_GPIO1_IO10			0x06000020
			IMX8QXP_MCLK_OUT0_LSIO_GPIO0_IO20			0x06000020
			IMX8QXP_MCLK_IN0_LSIO_GPIO0_IO19			0x06000020
			IMX8QXP_SPI3_SCK_LSIO_GPIO0_IO13			0x06000020
			IMX8QXP_SPI3_SDO_LSIO_GPIO0_IO14			0x06000020
			IMX8QXP_SPI3_SDI_LSIO_GPIO0_IO15			0x06000020
			IMX8QXP_SPI3_CS0_LSIO_GPIO0_IO16			0x06000020
			IMX8QXP_ENET0_REFCLK_125M_25M_LSIO_GPIO5_IO09	0x06000020
			IMX8QXP_SCU_GPIO0_00_LSIO_GPIO2_IO03		0x06000020
			/* LGA pads */
			IMX8QXP_ESAI0_SCKR_LSIO_GPIO0_IO02			0x06000020
			IMX8QXP_ESAI0_SCKT_LSIO_GPIO0_IO03			0x06000020
			IMX8QXP_ESAI0_TX1_LSIO_GPIO0_IO05			0x06000020
			IMX8QXP_USB_SS3_TC1_LSIO_GPIO4_IO04		0x06000020
			IMX8QXP_USB_SS3_TC0_LSIO_GPIO4_IO03		0x06000020
			IMX8QXP_USB_SS3_TC2_LSIO_GPIO4_IO05		0x06000020
			IMX8QXP_USB_SS3_TC3_LSIO_GPIO4_IO06		0x06000020
			IMX8QXP_SPI2_CS0_LSIO_GPIO1_IO00			0x06000020
			IMX8QXP_ESAI0_TX2_RX3_LSIO_GPIO0_IO06		0x06000020
			IMX8QXP_ESAI0_FST_LSIO_GPIO0_IO01			0x06000020
			IMX8QXP_ESAI0_TX4_RX1_LSIO_GPIO0_IO08		0x06000020
			IMX8QXP_SPDIF0_TX_LSIO_GPIO0_IO11			0x06000020
			IMX8QXP_SAI1_RXD_LSIO_GPIO0_IO29			0x06000020
			IMX8QXP_ESAI0_TX5_RX0_LSIO_GPIO0_IO09		0x06000020
			IMX8QXP_SPDIF0_RX_LSIO_GPIO0_IO10			0x06000020
			IMX8QXP_ESAI0_TX0_LSIO_GPIO0_IO04			0x06000020
			IMX8QXP_ESAI0_TX3_RX2_LSIO_GPIO0_IO07		0x06000020
			IMX8QXP_SPDIF0_EXT_CLK_LSIO_GPIO0_IO12		0x06000020
			IMX8QXP_SPI2_SCK_LSIO_GPIO1_IO03			0x06000020
			IMX8QXP_SPI0_SDO_LSIO_GPIO1_IO06			0x06000020
			IMX8QXP_SAI0_TXD_LSIO_GPIO0_IO25			0x06000020
			IMX8QXP_SPI0_SDI_LSIO_GPIO1_IO05			0x06000020
			IMX8QXP_SAI0_TXC_LSIO_GPIO0_IO26			0x06000020
			IMX8QXP_SAI1_RXFS_LSIO_GPIO0_IO31			0x06000020
			IMX8QXP_QSPI0B_DATA1_LSIO_GPIO3_IO19		0x06000020
			IMX8QXP_QSPI0B_SS1_B_LSIO_GPIO3_IO24		0x06000020
			IMX8QXP_QSPI0B_DQS_LSIO_GPIO3_IO22			0x06000020
			IMX8QXP_QSPI0B_SS0_B_LSIO_GPIO3_IO23		0x06000020
			IMX8QXP_QSPI0B_DATA2_LSIO_GPIO3_IO20		0x06000020
			IMX8QXP_QSPI0B_SCLK_LSIO_GPIO3_IO17		0x06000020
			IMX8QXP_ADC_IN4_LSIO_GPIO1_IO14			0x06000020
			IMX8QXP_ADC_IN3_LSIO_GPIO1_IO11			0x06000020
			IMX8QXP_ADC_IN2_LSIO_GPIO1_IO12			0x06000020
			IMX8QXP_ADC_IN5_LSIO_GPIO1_IO13			0x06000020
			IMX8QXP_MIPI_CSI0_MCLK_OUT_LSIO_GPIO3_IO04		0x06000020
		>;
	};

	pinctrl_csi0_lpi2c0: csi0lpi2c0grp {
		fsl,pins = <
			IMX8QXP_MIPI_CSI0_I2C0_SCL_MIPI_CSI0_I2C0_SCL	0xc2000020
			IMX8QXP_MIPI_CSI0_I2C0_SDA_MIPI_CSI0_I2C0_SDA	0xc2000020
		>;
	};

	pinctrl_csi0_lpi2c0_gpio: csi0lpi2c0gpiogrp {
		fsl,pins = <
			IMX8QXP_MIPI_CSI0_I2C0_SCL_LSIO_GPIO3_IO05	0xc2000020
			IMX8QXP_MIPI_CSI0_I2C0_SDA_LSIO_GPIO3_IO06	0xc2000020
		>;
	};

	pinctrl_fec: fecgrp {
		fsl,pins = <
			/*
			 * The SCFW of B0 defaults ENET0/1 domains to 2.5V:
			 * - VDD_ENET0_1P8_2P5_3P3
			 * - VDD_ENET0_VSELECT_1P8_2P5_3P3
			 * - VDD_ESAI_SPDIF_1P8_2P5_3P3
			 * Turn the domains back to 1.8/3.3V detector
			 */
			IMX8QXP_COMP_CTL_GPIO_1V8_3V3_ENET_ENETB0_PAD	0x000014a0
			IMX8QXP_COMP_CTL_GPIO_1V8_3V3_ENET_ENETB1_PAD	0x000014a0
			IMX8QXP_COMP_CTL_GPIO_1V8_3V3_GPIORHB_PAD		0x000514a0

			IMX8QXP_ENET0_RGMII_TX_CTL_CONN_ENET0_RGMII_TX_CTL	0x00000061
			IMX8QXP_ENET0_RGMII_TXC_CONN_ENET0_RGMII_TXC	0x00000061
			IMX8QXP_ENET0_RGMII_TXD0_CONN_ENET0_RGMII_TXD0	0x00000061
			IMX8QXP_ENET0_RGMII_TXD1_CONN_ENET0_RGMII_TXD1	0x00000061
			IMX8QXP_ENET0_RGMII_TXD2_CONN_ENET0_RGMII_TXD2	0x00000061
			IMX8QXP_ENET0_RGMII_TXD3_CONN_ENET0_RGMII_TXD3	0x00000061
			IMX8QXP_ENET0_RGMII_RXC_CONN_ENET0_RGMII_RXC	0x00000061
			IMX8QXP_ENET0_RGMII_RX_CTL_CONN_ENET0_RGMII_RX_CTL	0x00000061
			IMX8QXP_ENET0_RGMII_RXD0_CONN_ENET0_RGMII_RXD0	0x00000061
			IMX8QXP_ENET0_RGMII_RXD1_CONN_ENET0_RGMII_RXD1	0x00000061
			IMX8QXP_ENET0_RGMII_RXD2_CONN_ENET0_RGMII_RXD2	0x00000061
			IMX8QXP_ENET0_RGMII_RXD3_CONN_ENET0_RGMII_RXD3	0x00000061
		>;
	};

	pinctrl_fec_gpio: fecgpiogrp {
		fsl,pins = <
			/* PHY reset */
			IMX8QXP_QSPI0B_DATA0_LSIO_GPIO3_IO18	0x06000021
			/* PHY interrupt */
			IMX8QXP_MIPI_DSI0_GPIO0_01_LSIO_GPIO1_IO28	0x06000021
		>;
	};

	pinctrl_fec_mdio: fecmdiogrp {
		fsl,pins = <
			IMX8QXP_ENET0_MDC_CONN_ENET0_MDC		0x06000020
			IMX8QXP_ENET0_MDIO_CONN_ENET0_MDIO		0x06000020
		>;
	};

	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			IMX8QXP_SPI3_CS1_ADMA_I2C3_SCL	0x06000020
			IMX8QXP_MCLK_IN1_ADMA_I2C3_SDA	0x06000020
		>;
	};

	pinctrl_lpuart2: lpuart2grp {
		fsl,pins = <
			IMX8QXP_UART2_TX_ADMA_UART2_TX	0x06000020
			IMX8QXP_UART2_RX_ADMA_UART2_RX	0x06000020
		>;
	};

	pinctrl_mipi: mipi {
		fsl,pins = <
			IMX8QXP_QSPI0B_DATA3_LSIO_GPIO3_IO21 0xC0000020
		>;
	};

	pinctrl_parallel_csi: parallelcsigrp {
		fsl,pins = <
			IMX8QXP_CSI_D00_CI_PI_D02		0xC0000041
			IMX8QXP_CSI_D01_CI_PI_D03		0xC0000041
			IMX8QXP_CSI_D02_CI_PI_D04		0xC0000041
			IMX8QXP_CSI_D03_CI_PI_D05		0xC0000041
			IMX8QXP_CSI_D04_CI_PI_D06		0xC0000041
			IMX8QXP_CSI_D05_CI_PI_D07		0xC0000041
			IMX8QXP_CSI_D06_CI_PI_D08		0xC0000041
			IMX8QXP_CSI_D07_CI_PI_D09		0xC0000041

			IMX8QXP_CSI_MCLK_CI_PI_MCLK	0xC0000041
			IMX8QXP_CSI_PCLK_CI_PI_PCLK	0xC0000041
			IMX8QXP_CSI_HSYNC_CI_PI_HSYNC	0xC0000041
			IMX8QXP_CSI_VSYNC_CI_PI_VSYNC	0xC0000041
			/* CSI Camera enable */
			IMX8QXP_CSI_EN_LSIO_GPIO3_IO02	0xC0000041
			/* CSI Camera reset */
			IMX8QXP_CSI_RESET_LSIO_GPIO3_IO03	0xC0000041

			/* CSI_D0 */
			IMX8QXP_SAI0_RXD_LSIO_GPIO0_IO27	0x06000020
			/* CSI_D1 */
			IMX8QXP_SAI0_TXFS_LSIO_GPIO0_IO28	0x06000020
			/* CSI_D2 */
			IMX8QXP_SPI0_SCK_LSIO_GPIO1_IO04	0x06000020
			/* CSI_D3 */
			IMX8QXP_SAI1_RXC_LSIO_GPIO0_IO30	0x06000020
			/* CSI_D4 */
			IMX8QXP_SPI0_CS0_LSIO_GPIO1_IO08	0x06000020
			/* CSI_D5 */
			IMX8QXP_SPI0_CS1_LSIO_GPIO1_IO07	0x06000020
			/* CSI_D6 */
			IMX8QXP_SPI2_SDO_LSIO_GPIO1_IO01	0x06000020
			/* CSI_D7 */
			IMX8QXP_SPI2_SDI_LSIO_GPIO1_IO02	0x06000020
		>;
	};
};
