/*
 * Copyright 2020, Digi International Inc.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

/dts-v1/;

/* i.MX8MN CPU */
#include "../freescale/fsl-imx8mn.dtsi"
/* Digi ConnectCore 8M Nano (WiFi/bluetooth variant) */
#include "ccimx8mn-wb.dtsi"

/ {
	model = "Digi International ConnectCore 8M Nano DVK.";
	compatible = "digi,ccimx8mn-dvk", "digi,ccimx8mn", "digi,ccimx8m", "fsl,imx8mn";
	digi,machine,name = "ccimx8mn-dvk";

	chosen {
		bootargs = "console=ttymxc0,115200 earlycon=ec_imx6q,0x30860000,115200";
		stdout-path = &uart1;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_3v3_ext: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "3v3_ext";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&mca_gpio 9 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
		};

		reg_1v8_ext: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "1v8_ext";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&mca_gpio 14 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
		};

		reg_3v3_eth0: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_3v3_eth0>;
			regulator-name = "3v3_eth0";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio5 4 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			startup-delay-us = <10000>;
			vin-supply = <&reg_3v3_ext>;
		};

		reg_5v_board: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_5v_board>;
			regulator-name = "5v_board";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 6 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_3v3_audio: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_3v3_aud>;
			regulator-name = "3v3_audio";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio3 24 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			startup-delay-us = <1000>;
			vin-supply = <&reg_3v3_ext>;
		};

		reg_3v3_usb_hub: regulator@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_3v3_usb_hub>;
			regulator-name = "3v3_usb_hub";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio3 25 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			vin-supply = <&reg_3v3_ext>;
		};

		reg_3v3_board: regulator@7 {
			compatible = "regulator-fixed";
			reg = <7>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_3v3_board>;
			regulator-name = "3v3_board";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio3 19 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-always-on;
		};
	};
};

&cameradev {
	status = "okay";
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1_gpio>,
		    <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	digi,mdio-lt-supply = <&reg_1v8_ext>;
	phy-supply = <&reg_3v3_eth0>;
	phy-reset-gpios = <&gpio5 3 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <1>;
	digi,phy-reset-in-suspend;
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			at803x,eee-disabled;
			at803x,vddio-1p8v;
		};
	};
};

&gpu {
	status = "okay";
};

/*
 * I2C2 connected to Audio codec.
 * Also available on:
 * - LVDS connector
 * - PCIe connector
 * - MIPI Camera connector
 * - Expansion connector
 */
&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c2>;
	pinctrl-1 = <&pinctrl_i2c2_gpio>;
	scl-gpios = <&gpio5 16 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 17 GPIO_ACTIVE_HIGH>;
	status = "okay";

	/* MIPI-CSI camera */
	ov5640_mipi: ov5640_mipi@3c {
		compatible = "ovti,ov5640_mipi_v3";
		reg = <0x3c>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mipi>;
		clocks = <&clk IMX8MN_CLK_CLKO1>;
		clock-names = "csi_mclk";
		assigned-clocks = <&clk IMX8MN_CLK_CLKO1>;
		assigned-clock-parents = <&clk IMX8MN_CLK_24M>;
		assigned-clock-rates = <24000000>;
		csi_id = <0>;
		rst-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
		mclk = <24000000>;
		mclk_source = <0>;
		mipi_csi;

		port {
			ov5640_mipi_ep: endpoint {
				remote-endpoint = <&mipi_csi0_ep>;
			};
		};
	};
};

/*
 * I2C3 connected to LT8912 MIPI-to-HDMI bridge and SN65DSI83 MIPI-to-LVDS bridge.
 * Also available on the HDMI connector.
 */
&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c3>;
	pinctrl-1 = <&pinctrl_i2c3_gpio>;
	scl-gpios = <&gpio5 18 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 19 GPIO_ACTIVE_HIGH>;
	status = "okay";

	dsi_lvds_bridge: sn65dsi84@2c {
		compatible = "ti,sn65dsi83";
		reg = <0x2c>;
		ti,dsi-lanes = <4>;
		ti,lvds-format = <1>;
		ti,lvds-bpp = <24>;
		ti,width-mm = <217>;
		ti,height-mm = <136>;
		enable-gpios = <&gpio3 0 GPIO_ACTIVE_HIGH>;
		interrupt-parent = <&gpio3>;
		interrupts = <6 IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lvds>;
		status = "okay";

		display-timings {
			native-mode = <&mipi_analyzer>;

			/* MIPI Analyzer */
			mipi_analyzer: timing@0 {
				clock-frequency = <31500000>;
				hactive = <640>;
				vactive = <480>;
				hback-porch = <4>;
				hfront-porch = <10>;
				vback-porch = <34>;
				vfront-porch = <20>;
				hsync-len = <2>;
				vsync-len = <2>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		port {
			dsi_lvds_bridge_in: endpoint {
				remote-endpoint = <&mipi_dsi_lvds_out>;
			};
		};
	};
};

&isi_0 {
	status = "okay";
};

&lcdif {
	status = "okay";
};

&mipi_csi_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	/* Camera 0  MIPI CSI-2 (CSIS0) */
	port@0 {
		reg = <0>;
		mipi_csi0_ep: endpoint {
			remote-endpoint = <&ov5640_mipi_ep>;
			data-lanes = <2>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};
	};
};

&mipi_dsi {
	status = "okay";

	port@1 {
		mipi_dsi_lvds_out: endpoint {
			remote-endpoint = <&dsi_lvds_bridge_in>;
		};
	};
};

/* Console */
&uart1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_uart1>;
	pinctrl-1 = <&pinctrl_uart1_sleep>;
	status = "okay";
};

/* USB_OTG1 connected to usb hub */
&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;

	vbus-supply = <&reg_3v3_usb_hub>;
	fsl,reset-gpio = <&gpio5 10 GPIO_ACTIVE_LOW>;
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

&A53_0 {
	arm-supply = <&buck2_reg>;
};

/* IOMUX */
&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
			/* XBEE_RESET_N */
			MX8MN_IOMUXC_GPIO1_IO08_GPIO1_IO8	0x16
			/* XBEE_ON/SLEEP_N */
			MX8MN_IOMUXC_GPIO1_IO09_GPIO1_IO9	0x16
			/* XBEE_SLEEP_RQ */
			MX8MN_IOMUXC_GPIO1_IO07_GPIO1_IO7	0x16
			/* GPIO1_IO10 on expansion connector */
			MX8MN_IOMUXC_GPIO1_IO10_GPIO1_IO10	0x16
			/* GPIO1_IO11 on expansion connector */
			MX8MN_IOMUXC_GPIO1_IO11_GPIO1_IO11	0x16
			/* GPIO1_IO13 on expansion connector */
			MX8MN_IOMUXC_GPIO1_IO13_GPIO1_IO13	0x16
			/* GPIO1_IO14 on expansion connector */
			MX8MN_IOMUXC_GPIO1_IO14_GPIO1_IO14	0x16
			/* GPIO1_IO15 on expansion connector */
			MX8MN_IOMUXC_GPIO1_IO15_GPIO1_IO15	0x16
			/* User LED 3 */
			MX8MN_IOMUXC_SD2_RESET_B_GPIO2_IO19	0x16
			/* User button 2 */
			MX8MN_IOMUXC_SD2_WP_GPIO2_IO20	0x16
			/*
			 * Expansion I2C port IRQ.
			 * Remove if you plan on using this line for a device
			 * connected to the expansion I2C port.
			 */
			MX8MN_IOMUXC_UART3_TXD_GPIO5_IO27	0x16
			/*
			 * Expansion I2C port GPIO.
			 * Remove if you plan on using this line for a device
			 * connected to the expansion I2C port.
			 */
			MX8MN_IOMUXC_UART3_RXD_GPIO5_IO26	0x16
		>;
	};

	pinctrl_fec1_gpio: fec1gpiogrp {
		fsl,pins = <
			/* PHY reset */
			MX8MN_IOMUXC_SPDIF_TX_GPIO5_IO3		0x19
			/* PHY interrupt */
			MX8MN_IOMUXC_SAI3_MCLK_GPIO5_IO2	0x19
		>;
	};

	pinctrl_fec1: fec1grp {
		fsl,pins = <
			MX8MN_IOMUXC_ENET_MDC_ENET1_MDC		0x3
			MX8MN_IOMUXC_ENET_MDIO_ENET1_MDIO	0x3
			MX8MN_IOMUXC_ENET_TD3_ENET1_RGMII_TD3	0x1f
			MX8MN_IOMUXC_ENET_TD2_ENET1_RGMII_TD2	0x1f
			MX8MN_IOMUXC_ENET_TD1_ENET1_RGMII_TD1	0x1f
			MX8MN_IOMUXC_ENET_TD0_ENET1_RGMII_TD0	0x1f
			MX8MN_IOMUXC_ENET_RD3_ENET1_RGMII_RD3	0x91
			MX8MN_IOMUXC_ENET_RD2_ENET1_RGMII_RD2	0x91
			MX8MN_IOMUXC_ENET_RD1_ENET1_RGMII_RD1	0x91
			MX8MN_IOMUXC_ENET_RD0_ENET1_RGMII_RD0	0x91
			MX8MN_IOMUXC_ENET_TXC_ENET1_RGMII_TXC	0x1f
			MX8MN_IOMUXC_ENET_RXC_ENET1_RGMII_RXC	0x91
			MX8MN_IOMUXC_ENET_RX_CTL_ENET1_RGMII_RX_CTL	0x91
			MX8MN_IOMUXC_ENET_TX_CTL_ENET1_RGMII_TX_CTL	0x1f
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C2_SCL_I2C2_SCL			0x400001c3
			MX8MN_IOMUXC_I2C2_SDA_I2C2_SDA			0x400001c3
		>;
	};

	pinctrl_i2c2_gpio: i2c2grp-gpio {
		fsl,pins = <
			MX8MN_IOMUXC_I2C2_SCL_GPIO5_IO16		0x1c3
			MX8MN_IOMUXC_I2C2_SDA_GPIO5_IO17		0x1c3
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C3_SCL_I2C3_SCL			0x400001c3
			MX8MN_IOMUXC_I2C3_SDA_I2C3_SDA			0x400001c3
		>;
	};

	pinctrl_i2c3_gpio: i2c3grp-gpio {
		fsl,pins = <
			MX8MN_IOMUXC_I2C3_SCL_GPIO5_IO18		0x1c3
			MX8MN_IOMUXC_I2C3_SDA_GPIO5_IO19		0x1c3
		>;
	};

	pinctrl_lvds: lvdsgrp {
		fsl,pins = <
			/* SN65DSI83 enable */
			MX8MN_IOMUXC_NAND_ALE_GPIO3_IO0		0x19
			/* SN65DSI83 interrupt */
			MX8MN_IOMUXC_NAND_DATA00_GPIO3_IO6	0x19
		>;
	};

	pinctrl_mipi: mipi {
		fsl,pins = <
			/* MIPI_CSI_RESET_N */
			MX8MN_IOMUXC_GPIO1_IO12_GPIO1_IO12 0x19
		>;
	};

	/* Ethernet PHYs regulator */
	pinctrl_reg_3v3_eth0: pinctrl_reg_3v3_eth0grp {
		fsl,pins = <
			/* PHY power */
			MX8MN_IOMUXC_SPDIF_RX_GPIO5_IO4		0x41
		>;
	};

	pinctrl_reg_5v_board: reg_5v_board_grp {
		fsl,pins = <
			/* 5V regulator power enable */
			MX8MN_IOMUXC_GPIO1_IO06_GPIO1_IO6		0x41
		>;
	};

	pinctrl_reg_3v3_aud: reg_3v3_aud_grp {
		fsl,pins = <
			/* Audio power enable */
			MX8MN_IOMUXC_SAI5_RXD3_GPIO3_IO24		0x41
		>;
	};

	pinctrl_reg_3v3_usb_hub: reg_3v3_usb_hub_grp {
		fsl,pins = <
			/* GPIO3_25 USB hub power enable */
			MX8MN_IOMUXC_SAI5_MCLK_GPIO3_IO25		0x41
		>;
	};

	pinctrl_reg_3v3_board: reg_3v3_board_grp {
		fsl,pins = <
			/* GPIO3_19 board regulator enable */
			MX8MN_IOMUXC_SAI5_RXFS_GPIO3_IO19		0x41
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI2_RXC_UART1_DCE_RX	0x140
			MX8MN_IOMUXC_SAI2_RXFS_UART1_DCE_TX	0x140
		>;
	};

	pinctrl_uart1_sleep: uart1sleepgrp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI2_RXC_GPIO4_IO22	0x100
			MX8MN_IOMUXC_SAI2_RXFS_GPIO4_IO21	0x100
		>;
	};

	pinctrl_usbotg1: usbotg1grp {
		fsl,pins = <
			/* USB hub reset */
			MX8MN_IOMUXC_ECSPI2_SCLK_GPIO5_IO10		0x16
		>;
	};
};
