/*
 * Copyright 2022, Digi International Inc.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

/dts-v1/;

/* i.MX93 CPU */
#include "../freescale/imx93.dtsi"
/* Digi ConnectCore 93 (SOM) */
#include "ccimx93.dtsi"

/ {
	model = "Digi International ConnectCore 93 DVK";
	compatible = "digi,ccimx93-dvk", "digi,ccimx93", "fsl,imx93";
	digi,machine,name = "ccimx93-dvk";

	chosen {
		stdout-path = &lpuart6;
	};

	lvds_backlight: lvds_backlight {
		compatible = "gpio-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lvds_backlight>;
		gpios = <&gpio2 23 GPIO_ACTIVE_HIGH>;
		default-on;
		status = "disabled";
	};

	lvds_panel: lvds_panel {
		status = "disabled";

		port {
			panel_lvds_in: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_5v_board: regulator@1 {
			compatible = "regulator-fixed";
			reg = <4>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_5v_board>;
			regulator-name = "5v_board";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 6 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_can1_stby: regulator-can1-stby {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_can1_stby>;
			regulator-name = "can1-stby";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio1 11 GPIO_ACTIVE_LOW>;
			enable-active-low;
		};

		reg_can2_stby: regulator-can2-stby {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_reg_can2_stby>;
			regulator-name = "can2-stby";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio1 13 GPIO_ACTIVE_LOW>;
			enable-active-low;
		};
	};

	sound_max98089: sound-max98089 {
		compatible = "fsl,imx-audio-max98088";
		model = "imx-max98088";
		cpu-dai = <&sai3>;
		audio-codec = <&max98089>;
		audio-routing =
			"Headphone Jack", "HPL",
			"Headphone Jack", "HPR",
			"Ext Spk", "SPKL",
			"Ext Spk", "SPKR",
			"LineOut", "RECL",
			"LineOut", "RECR",
			"Mic1", "MIC1",
			"Mic2", "MIC2",
			"LineInA", "INA1",
			"LineInA", "INA2",
			"LineInB", "INB1",
			"LineInB", "INB2";
		status = "okay";
	};
};

/* MIPI DSI PHY */
&dphy {
	status = "okay";
};

&dsi {
	status = "okay";

	ports {
		port@1 {
			reg = <1>;

			mipi_dsi_hdmi_out: endpoint {
				remote-endpoint = <&lt8912_1_in>;
			};
		};
	};
};

&epxp {
	status = "okay";
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	xceiver-supply = <&reg_can1_stby>;
	status = "okay";
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	xceiver-supply = <&reg_can2_stby>;
	status = "okay";
};

&isi_0 {
	status = "okay";

	cap_device {
		status = "okay";
	};
};

&lcdif {
	status = "okay";
	assigned-clock-rates = <445333333>, <148444444>, <400000000>, <133333333>;
};

&ldb {
	status = "disabled";

	lvds-channel@0 {
		status = "disabled";

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_lvds_in>;
			};
		};
	};
};

&ldb_phy {
	status = "disabled";
};

/* I2C3 - HDMI bridge, ... */
&lpi2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	pinctrl-1 = <&pinctrl_lpi2c3>;
	status = "okay";

	goodix_touch: gt9271@14 {
		compatible = "goodix,gt9271";
		reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touch>;
		/* LVDS interrupt */
		interrupt-parent = <&gpio2>;
		interrupts = <24 IRQ_TYPE_EDGE_FALLING>;
		irq-gpios = <&gpio2 24 GPIO_ACTIVE_HIGH>;
		reload-fw-on-resume;
		skip-firmware-request;
		vin-supply = <&reg_5v_board>;
		status = "disabled";
	};

	ext_rtc: ext_rtc@52 {
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rtc>;
		interrupt-parent = <&gpio2>;
		interrupts = <18 IRQ_TYPE_EDGE_FALLING>;
		wakeup-source;
	};
};

/* I2C4 - Audio codec and HDMI bridge */
&lpi2c4 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpi2c4>;
	pinctrl-1 = <&pinctrl_lpi2c4>;
	status = "okay";

	max98089: codec@10 {
		compatible = "maxim,max98089";
		reg = <0x10>;
		clocks = <&clk IMX93_CLK_SAI3_GATE>;
		clock-names = "mclk";
		// TODO
		// Add regulators when defined for the DVK
		// vcc-supply = <&reg_3v3_audio>;
		// dvdd-supply = <&reg_1v8_ext>;
	};

	lt_bridge: lt8912@48 {
		compatible = "lontium,lt8912";
		reg = <0x48>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lt8912>;
		reset-gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
		hpd-gpios = <&gpio3 27 GPIO_ACTIVE_HIGH>;
		// no-hpd;
		digi,dsi-lanes = <4>;
		vdd1-supply = <&reg_5v_board>;
		no-edid;
		status = "okay";

		port {
			lt8912_1_in: endpoint {
				/* add lanes */
				remote-endpoint = <&mipi_dsi_hdmi_out>;
			};
		};

		display-timings {
			native-mode = <&timing1>;

			/* High Definition */
			timing0: timing0 {
				clock-frequency = <74250000>;
				hactive = <1280>;
				vactive = <720>;
				hfront-porch = <110>;
				hsync-len = <40>;
				hback-porch = <220>;
				vfront-porch = <5>;
				vsync-len = <5>;
				vback-porch = <20>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};

			/* Full HD */
			timing1: timing1 {
				clock-frequency = <148500000>;
				hactive = <1920>;
				vactive = <1080>;
				hfront-porch = <88>;
				hsync-len = <44>;
				hback-porch = <148>;
				vfront-porch = <36>;
				vsync-len = <5>;
				vback-porch = <4>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};

&lpuart6 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

/*
 * XBee interface
 * The lines of this interface are shared with ENET2. Refer to the hardware and
 * software documentation for additional information about how to configure the
 * board.
 */
&lpuart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>, <&pinctrl_xbee_rf_gpios>;
	fsl,uart-has-rtscts;
	status = "okay";
};

/* Ethernet EQoS */
&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>, <&pinctrl_eqos_mdio>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <5000000>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};
	};
};

/* Ethernet MAC (ENET) */
&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>, <&pinctrl_fec_mdio>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	fsl,magic-packet;
	status = "disabled";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <5000000>;

		ethphy1: ethernet-phy@1 {
			/* PHY ID for Marvell 88E1512 */
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
		};
	};
};

/* Audio interface */
&sai3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	assigned-clocks = <&clk IMX93_CLK_SAI3>;
	assigned-clock-parents = <&clk IMX93_CLK_AUDIO_PLL>;
	assigned-clock-rates = <12288000>;
	fsl,sai-mclk-direction-output;
	status = "okay";
};

/* USB_OTG2 connected to usb hub */
&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

/* SD card */
&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	// Enable CD when the connector works
	// cd-gpios = <&gpio3 00 GPIO_ACTIVE_LOW>;
	broken-cd;
	bus-width = <4>;
	status = "okay";
	no-sdio;
	no-mmc;
};

&iomuxc {
	/* EQoS RGMII */
	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX93_PAD_ENET1_RD0__ENET_QOS_RGMII_RD0			0x57e
			MX93_PAD_ENET1_RD1__ENET_QOS_RGMII_RD1			0x57e
			MX93_PAD_ENET1_RD2__ENET_QOS_RGMII_RD2			0x57e
			MX93_PAD_ENET1_RD3__ENET_QOS_RGMII_RD3			0x57e
			MX93_PAD_ENET1_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x5fe
			MX93_PAD_ENET1_RX_CTL__ENET_QOS_RGMII_RX_CTL		0x57e
			MX93_PAD_ENET1_TD0__ENET_QOS_RGMII_TD0			0x57e
			MX93_PAD_ENET1_TD1__ENET_QOS_RGMII_TD1			0x57e
			MX93_PAD_ENET1_TD2__ENET_QOS_RGMII_TD2			0x57e
			MX93_PAD_ENET1_TD3__ENET_QOS_RGMII_TD3			0x57e
			MX93_PAD_ENET1_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x5fe
			MX93_PAD_ENET1_TX_CTL__ENET_QOS_RGMII_TX_CTL		0x57e
		>;
	};

	/* EQoS MDIO */
	pinctrl_eqos_mdio: ethmdio {
		fsl,pins = <
			MX93_PAD_ENET1_MDC__ENET_QOS_MDC			0x57e
			MX93_PAD_ENET1_MDIO__ENET_QOS_MDIO			0x57e
		>;
	};

	/* FEC RGMII */
	pinctrl_fec: fecgrp {
		fsl,pins = <
			MX93_PAD_ENET2_RD0__ENET1_RGMII_RD0			0x57e
			MX93_PAD_ENET2_RD1__ENET1_RGMII_RD1			0x57e
			MX93_PAD_ENET2_RD2__ENET1_RGMII_RD2			0x57e
			MX93_PAD_ENET2_RD3__ENET1_RGMII_RD3			0x57e
			MX93_PAD_ENET2_RXC__ENET1_RGMII_RXC			0x5fe
			MX93_PAD_ENET2_RX_CTL__ENET1_RGMII_RX_CTL		0x57e
			MX93_PAD_ENET2_TD0__ENET1_RGMII_TD0			0x57e
			MX93_PAD_ENET2_TD1__ENET1_RGMII_TD1			0x57e
			MX93_PAD_ENET2_TD2__ENET1_RGMII_TD2			0x57e
			MX93_PAD_ENET2_TD3__ENET1_RGMII_TD3			0x57e
			MX93_PAD_ENET2_TXC__ENET1_RGMII_TXC			0x5fe
			MX93_PAD_ENET2_TX_CTL__ENET1_RGMII_TX_CTL		0x57e
		>;
	};

	/* FEC MDIO */
	pinctrl_fec_mdio: fecmdiogrp {
		fsl,pins = <
			MX93_PAD_ENET2_MDC__ENET1_MDC				0x57e
			MX93_PAD_ENET2_MDIO__ENET1_MDIO				0x57e
		>;
	};

	/* CAN1 */
	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX93_PAD_PDM_CLK__CAN1_TX				0x139e
			MX93_PAD_PDM_BIT_STREAM0__CAN1_RX			0x139e
		>;
	};

	/* CAN2 */
	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO25__CAN2_TX				0x139e
			MX93_PAD_GPIO_IO27__CAN2_RX				0x139e
		>;
	};

	/* I2C3 */
	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO00__LPI2C3_SDA				0x40000b9e
			MX93_PAD_GPIO_IO01__LPI2C3_SCL				0x40000b9e
		>;
	};

	/* I2C4 */
	pinctrl_lpi2c4: lpi2c4grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO02__LPI2C4_SDA				0x40000b9e
			MX93_PAD_GPIO_IO03__LPI2C4_SCL				0x40000b9e
		>;
	};

	/* HDMI bridge IOs */
	pinctrl_lt8912: lt8912grp {
		fsl,pins = <
			/* Reset */
			MX93_PAD_I2C2_SDA__GPIO1_IO03				0x31e
			/* Interrupt */
			MX93_PAD_CCM_CLKO2__GPIO3_IO27				0x31e
		>;
	};

	/* LVDS gpio backlight */
	pinctrl_lvds_backlight: lvdsbacklightgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO23__GPIO2_IO23				0x31e
		>;
	};

	/* DVK 5V power switch */
	pinctrl_reg_5v_board: reg_5v_board_grp {
		fsl,pins = <
			/* 5V regulator power enable */
			MX93_PAD_SAI1_RXD0__GPIO1_IO14				0x31e
		>;
	};

	/* CAN1 STBY control */
	pinctrl_reg_can1_stby: reg_can1_stby_grp {
		fsl,pins = <
			MX93_PAD_SAI1_TXFS__GPIO1_IO11				0x31e
		>;
	};

	/* CAN2 STBY control */
	pinctrl_reg_can2_stby: reg_can2_stby_grp {
		fsl,pins = <
			MX93_PAD_SAI1_TXD0__GPIO1_IO13				0x31e
		>;
	};

	/* RTC INT */
	pinctrl_rtc: rtc_grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO18__GPIO2_IO18				0x31e
		>;
	};

	/* Audio Interface */
	pinctrl_sai3: sai3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO21__SAI3_TX_DATA00			0x31e
			MX93_PAD_GPIO_IO20__SAI3_RX_DATA00			0x31e
			MX93_PAD_GPIO_IO26__SAI3_TX_SYNC			0x31e
			MX93_PAD_GPIO_IO16__SAI3_TX_BCLK			0x31e
			MX93_PAD_GPIO_IO17__SAI3_MCLK				0x31e
		>;
	};

	/* LVDS touch interface IOs */
	pinctrl_touch: touchgrp {
		fsl,pins = <
			/* LVDS touch interrupt */
			MX93_PAD_GPIO_IO24__GPIO2_IO24				0x31e
		>;
	};

	/* SD card */
	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			MX93_PAD_SD2_CD_B__GPIO3_IO00				0x31e
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX93_PAD_SD2_CLK__USDHC2_CLK				0x17fe
			MX93_PAD_SD2_CMD__USDHC2_CMD				0x13fe
			MX93_PAD_SD2_DATA0__USDHC2_DATA0			0x13fe
			MX93_PAD_SD2_DATA1__USDHC2_DATA1			0x13fe
			MX93_PAD_SD2_DATA2__USDHC2_DATA2			0x13fe
			MX93_PAD_SD2_DATA3__USDHC2_DATA3			0x13fe
			MX93_PAD_SD2_VSELECT__USDHC2_VSELECT			0x51e
			MX93_PAD_SD2_VSELECT__USDHC2_VSELECT			0x51e
		>;
	};

	/* Serial console */
	pinctrl_uart6: uart6grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO05__LPUART6_RX				0x31e
			MX93_PAD_GPIO_IO04__LPUART6_TX				0x31e
		>;
	};

	/* XBee uart */
	pinctrl_uart4: uart4grp {
	fsl,pins = <
			MX93_PAD_ENET2_RD0__LPUART4_RX				0x31e
			MX93_PAD_ENET2_TD0__LPUART4_TX				0x31e
			MX93_PAD_ENET2_RD2__LPUART4_CTS_B			0x31e
			MX93_PAD_ENET2_TD1__LPUART4_RTS_B			0x31e
		>;
	};

	/* XBee RF IO lines */
	pinctrl_xbee_rf_gpios: xbeerfgrp {
		fsl,pins = <
			/* XBEE_RESET_N */
			MX93_PAD_GPIO_IO19__GPIO2_IO19				0x31e
		>;
	};
};
