// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 Digi International Inc.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/fsl,imx95-clock.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "../freescale/imx95-pinfunc.h"

/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			overlay-description = "DVK: Digilent Pcam 5C MIPI camera";

			/* fixed 24MHz crystal for mipi camera */
			mipi_csi_xtal24m: mipi_csi_xtal24m {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24000000>;
				clock-output-names = "xtal_24MHz";
			};
		};
	};

	/* Camera sensor */
	fragment@1 {
		target = <&lpi2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			/* MIPI-CSI camera */
			ov5640_mipi: ov5640_mipi@3c {
				compatible = "ovti,ov5640";
				reg = <0x3c>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_mipi>;
				clocks = <&mipi_csi_xtal24m>;
				clock-names = "xclk";
				powerdown-gpios = <&gpio5 17 GPIO_ACTIVE_LOW>;
				digi,use-pm-ops;
				status = "okay";

				port {
					ov5640_mipi_ep: endpoint {
						remote-endpoint = <&mipi_csi0_ep>;
						data-lanes = <1 2>;
						clock-lanes = <0>;
					};
				};
			};
		};
	};

	/* Enable MIPI Rx DPHY */
	fragment@2 {
		target = <&dphy_rx>;
		__overlay__ {
			status = "okay";
		};
	};

	/* Enable MIPI CSI */
	fragment@3 {
		target = <&mipi_csi0>;
		__overlay__ {
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					mipi_csi0_ep: endpoint {
						remote-endpoint = <&ov5640_mipi_ep>;
						data-lanes = <1 2>;
						clock-lanes = <0>;
					};
				};

				port@1 {
					reg = <1>;
					mipi_csi0_out: endpoint {
						remote-endpoint = <&formatter_0_in>;
					};
				};
			};
		};
	};

	/* Enable CSI pixel formatter */
	fragment@4 {
		target = <&csi_pixel_formatter_0>;
		__overlay__ {
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					formatter_0_in: endpoint {
						remote-endpoint = <&mipi_csi0_out>;
					};
				};

				port@1 {
					reg = <1>;

					formatter_0_out: endpoint {
						remote-endpoint = <&isi_in_2>;
					};
				};
			};
		};
	};

	/* Enable the Image Sensing Interface */
	fragment@5 {
		target = <&isi>;
		__overlay__ {
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				/*
				* ISI ports 0 and 1 are fed by DPU pixel-link outputs.
				* ISI ports 2 and 3 are fed by CameraMix
				* (formatter/interleaver) outputs.
				*/
				port@2 {
					reg = <2>;

					isi_in_2: endpoint {
						remote-endpoint = <&formatter_0_out>;
					};
				};
			};
		};
	};


	/* pinctrl */
	fragment@6 {
		target = <&scmi_iomuxc>;
		__overlay__ {
			/* MIPI Camera */
			pinctrl_mipi: mipi {
				fsl,pins = <
					/* Camera PWUP */
					IMX95_PAD_GPIO_IO37__GPIO5_IO_BIT17		0x31e
				>;
			};
		};
	};

	/* Enable Neo ISP */
	fragment@7 {
		target = <&neoisp0>;
		__overlay__ {
			compatible = "nxp,imx95-b0-neoisp";
			status = "okay";
		};
	};
};
