#  ALPHABETICALLY SORTED: $LC_ALL=C sort fragment-02-defconfig-addons.config -o fragment-02-defconfig-addons.config
CONFIG_ARCH_STM32=y
CONFIG_ARM_SCMI_CPUFREQ=y
CONFIG_ARM_SMC_WATCHDOG=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_I2C_STM32F7=y
CONFIG_REGULATOR_ARM_SCMI=y
CONFIG_RTC_DRV_STM32=y
CONFIG_SERIAL_STM32=y
CONFIG_SERIAL_STM32_CONSOLE=y
CONFIG_STM32_DMA3=y
