#  ALPHABETICALLY SORTED: $LC_ALL=C sort fragment-02-defconfig-addons.config -o fragment-02-defconfig-addons.config
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_GPIO=m
CONFIG_BT_LE=y
CONFIG_CAN_M_CAN=m
CONFIG_CAN_M_CAN_PLATFORM=m
CONFIG_CLKSRC_STM32_LP=y
CONFIG_CLK_STM32MP2_CA35SS=m
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_CPU_DEBUG=y
CONFIG_CORESIGHT_CTI=y
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
CONFIG_CORESIGHT_SINK_TPIU=y
CONFIG_CORESIGHT_SOURCE_ETM4X=y
CONFIG_CORESIGHT_STM=y
CONFIG_COUNTER=m
CONFIG_CPUFREQ_DT=m
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_CRYPTO_DEV_STM32_CRC=m
CONFIG_CRYPTO_DEV_STM32_CRYP=m
CONFIG_CRYPTO_DEV_STM32_HASH=m
CONFIG_DRM=y
CONFIG_DRM_BRIDGE=y
CONFIG_DRM_DISPLAY_CONNECTOR=m
CONFIG_DRM_DW_MIPI_DSI=m
CONFIG_DRM_I2C_ADV7511=m
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_MIPI_DSI=y
CONFIG_DRM_PANEL=y
CONFIG_DRM_PANEL_BRIDGE=y
CONFIG_DRM_PANEL_LVDS=m
CONFIG_DRM_PANEL_RAYDIUM_RM68200=m
CONFIG_DRM_PANEL_SIMPLE=m
CONFIG_DRM_SIMPLEDRM=y
CONFIG_DRM_STM=y
CONFIG_DRM_STM_DSI=m
CONFIG_DRM_STM_LVDS=m
CONFIG_DWMAC_GENERIC=y
CONFIG_DWMAC_STM32=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_HDMI=y
CONFIG_I2C_RPMSG=m
CONFIG_I2C_STM32F7=m
CONFIG_I3C=y
CONFIG_IGC=m
CONFIG_IIO_RESCALE=m
CONFIG_IIO_STM32_LPTIMER_TRIGGER=m
CONFIG_IIO_STM32_TIMER_TRIGGER=m
CONFIG_JFFS2_FS=y
CONFIG_MAILBOX_CDEV=m
CONFIG_MEDIA_TEST_SUPPORT=y
CONFIG_MFD_STM32_LPTIMER=m
CONFIG_MFD_STM32_TIMERS=m
CONFIG_MFD_WM8994=m
CONFIG_MTD_HYPERBUS=y
CONFIG_MTD_NAND_STM32_FMC2=y
CONFIG_MTD_SPI_NAND=y
CONFIG_MTD_UBI=y
CONFIG_NET_ACT_POLICE=m
CONFIG_NET_ACT_SKBEDIT=m
CONFIG_NET_ACT_VLAN=m
CONFIG_NET_CLS_U32=m
CONFIG_NET_SCH_MULTIQ=m
CONFIG_NET_SCH_PRIO=m
CONFIG_NET_SCH_SKBPRIO=m
CONFIG_NVMEM_REBOOT_MODE=y
CONFIG_NVMEM_STM32_ROMEM=y
CONFIG_NVMEM_STM32_TAMP=y
CONFIG_OF_OVERLAY=y
CONFIG_PCIEASPM_POWERSAVE=y
CONFIG_PCIE_STM32=m
CONFIG_PCIE_STM32_EP=m
CONFIG_PHY_STM32_COMBOPHY=m
CONFIG_PHY_STM32_USB2PHY=m
CONFIG_PINCTRL_STM32_HDP=m
CONFIG_PTM=y
CONFIG_PWM_STM32=m
CONFIG_PWM_STM32_LP=m
CONFIG_REGULATOR_ARM_SCMI=y
CONFIG_REMOTEPROC=y
CONFIG_RPMSG_CHAR=m
CONFIG_RPMSG_CTRL=m
CONFIG_RPMSG_IRQ=m
CONFIG_RPMSG_TTY=m
CONFIG_RPMSG_VIRTIO=m
CONFIG_RTC_DRV_STM32=m
CONFIG_SAMPLES=y
CONFIG_SAMPLE_RPMSG_CLIENT=m
CONFIG_SCMI_STM32MP_OSTL_V5=y
CONFIG_SD_ADC_MODULATOR=m
CONFIG_SENSORS_MR75203=m
CONFIG_SMSC_PHY=y
CONFIG_SND_SOC_STM32_I2S=m
CONFIG_SND_SOC_STM32_MDF=m
CONFIG_SND_SOC_STM32_SAI=m
CONFIG_SND_SOC_STM32_SPDIFRX=m
CONFIG_SND_SOC_WM8994=m
CONFIG_SND_USB_AUDIO=m
CONFIG_SPI_STM32=m
CONFIG_SPI_STM32_OSPI=y
CONFIG_STM32MP_PM_DOMAIN=y
CONFIG_STM32_ADC=m
CONFIG_STM32_ADC_CORE=m
CONFIG_STM32_DMA3=y
CONFIG_STM32_FMC2_EBI=y
CONFIG_STM32_HYPERBUS=y
CONFIG_STM32_I3C_MASTER=m
CONFIG_STM32_IPCC=y
CONFIG_STM32_LPTIMER_CNT=m
CONFIG_STM32_M0_RPROC=m
CONFIG_STM32_MDF_ADC=m
CONFIG_STM32_MDF_CORE=m
CONFIG_STM32_OMI=y
CONFIG_STM32_OMM=y
CONFIG_STM32_RPROC=m
CONFIG_STM32_TIMER_CNT=m
CONFIG_STM32_WATCHDOG=m
CONFIG_STMMAC_ETH=m
CONFIG_STMMAC_PLATFORM=m
CONFIG_SYSCON_REBOOT_MODE=m
CONFIG_TEE_REMOTEPROC=y
CONFIG_TOUCHSCREEN_GOODIX=m
CONFIG_TOUCHSCREEN_ILI210X=m
CONFIG_TYPEC_ADC=m
CONFIG_TYPEC_UCSI=m
CONFIG_UBIFS_FS=y
CONFIG_UCSI_STM32G0=m
CONFIG_USB_CONFIGFS_F_UVC=y
CONFIG_USB_DWC2=m
CONFIG_USB_DWC3_STM32=m
CONFIG_USB_HIDDEV=y
CONFIG_USB_ONBOARD_HUB=y
CONFIG_USB_STM32_USBH=m
CONFIG_V4L_TEST_DRIVERS=y
CONFIG_VIDEO_HANTRO=m
CONFIG_VIDEO_IMX335=m
CONFIG_VIDEO_STM32_CSI=m
CONFIG_VIDEO_STM32_DCMI=m
CONFIG_VIDEO_STM32_DCMIPP=m
CONFIG_VIDEO_VIVID=m
