#  ALPHABETICALLY SORTED: $LC_ALL=C sort fragment-02-defconfig-addons.config -o fragment-02-defconfig-addons.config
CONFIG_ARCH_STM32=y
CONFIG_ARM_SCMI_CPUFREQ=y
CONFIG_ARM_SMC_WATCHDOG=y
CONFIG_COUNTER=m
CONFIG_DWMAC_GENERIC=y
CONFIG_DWMAC_STM32=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_I2C_RPMSG=m
CONFIG_I2C_STM32F7=y
CONFIG_IIO_STM32_LPTIMER_TRIGGER=m
CONFIG_IIO_STM32_TIMER_TRIGGER=m
CONFIG_JFFS2_FS=y
CONFIG_MFD_STM32_LPTIMER=m
CONFIG_MFD_STM32_TIMERS=m
CONFIG_MFD_WM8994=m
CONFIG_MTD_HYPERBUS=y
CONFIG_MTD_NAND_STM32_FMC2=y
CONFIG_MTD_SPI_NAND=y
CONFIG_MTD_UBI=y
CONFIG_NET_ACT_POLICE=m
CONFIG_NET_ACT_SKBEDIT=m
CONFIG_NET_ACT_VLAN=m
CONFIG_NET_CLS_U32=m
CONFIG_NET_SCH_MULTIQ=m
CONFIG_NET_SCH_PRIO=m
CONFIG_NET_SCH_SKBPRIO=m
CONFIG_NVMEM_STM32_ROMEM=y
CONFIG_PCIE_STM32=y
CONFIG_PHY_STM32_COMBOPHY=y
CONFIG_PHY_STM32_USB2FEMTO=y
CONFIG_PWM_STM32=m
CONFIG_PWM_STM32_LP=m
CONFIG_REGULATOR_ARM_SCMI=y
CONFIG_RPMSG_CHAR=m
CONFIG_RPMSG_CTRL=m
CONFIG_RPMSG_TTY=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_RTC_DRV_STM32=y
CONFIG_SENSORS_MR75203=y
CONFIG_SERIAL_STM32=y
CONFIG_SERIAL_STM32_CONSOLE=y
CONFIG_SND_SOC_STM32_I2S=m
CONFIG_SND_SOC_STM32_MDF=m
CONFIG_SND_SOC_STM32_SAI=m
CONFIG_SND_SOC_STM32_SPDIFRX=m
CONFIG_SND_SOC_WM8994=m
CONFIG_SPI_STM32=m
CONFIG_SPI_STM32_OSPI=y
CONFIG_STM32_ADC=m
CONFIG_STM32_ADC_CORE=m
CONFIG_STM32_DMA3=y
CONFIG_STM32_FMC2_EBI=y
CONFIG_STM32_HYPERBUS=y
CONFIG_STM32_IPCC=y
CONFIG_STM32_LPTIMER_CNT=m
CONFIG_STM32_MDF_ADC=m
CONFIG_STM32_MDF_CORE=m
CONFIG_STM32_OMI=y
CONFIG_STM32_OMM=y
CONFIG_STM32_RPROC=y
CONFIG_STM32_TIMER_CNT=m
CONFIG_STMMAC_ETH=y
CONFIG_STMMAC_PLATFORM=y
CONFIG_UBIFS_FS=y
CONFIG_USB_DWC3_STM32=y
CONFIG_USB_STM32_USB2H=y
