if ARCH_STM32

config STM32_HOG
	tristate "STM32 hog"
	default y
	help
	  Say y to enable clock(s) at the start of the Kernel.

config STM32_PM_DOMAINS
	bool "STM32 PM domains"
	depends on MACH_STM32MP157
	select PM_GENERIC_DOMAINS
	default y if MACH_STM32MP157

config STM32MP_PM_DOMAIN
	tristate "STM32MP PM domain"
	select PM_GENERIC_DOMAINS
	default y

config STM32_RISAB
	tristate "STM32 RISAB"
	depends on ARM64 && DEBUG_FS
	default y
	help
	  Say y to enable RISAB dump debug helper driver. This creates an entry
	  in the debugfs to dump RISAB pages and blocks configurations. It
	  implicitly requires that the RISAB is clocked by a capable software
	  component.

config STM32_RISAF
	tristate "STM32 RISAF"
	depends on ARM64 && DEBUG_FS
	default y
	help
	  Say y to enable RISAF dump debug helper driver. This creates an entry
	  in the debugfs to dump RISAF memory regions configurations and
	  topology. It implicitly requires that the RISAF is clocked by a
	  capable software component.

endif # ARCH_STM32
