if ARCH_STM32

config STM32_HDP
	bool "STMicroelectronics STM32MP157 Hardware Debug Port (HDP) pin control"
	depends on MACH_STM32MP157 || MACH_STM32MP13
	default n if MACH_STM32MP157 || MACH_STM32MP13
	help
	  The Hardware Debug Port allows the observation of internal signals. By using multiplexers,
	  up to 16 signals for each of 8-bit output can be observed.

config STM32_HSLV
	tristate "STMicroelectronics STM32 HSLV driver"
	depends on OF && MACH_STM32MP13
	default MACH_STM32MP13
	help
	  This driver supports internal high speed low voltage configuration
	  in the STMicroelectronics STM32 chips.

config STM32_PM_DOMAINS
	bool "STM32 PM domains"
	depends on MACH_STM32MP157
	select PM_GENERIC_DOMAINS
	default y if MACH_STM32MP157

endif # ARCH_STM32
