/*
 * Copyright 2013 Digi International, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/include/ "imx28.dtsi"

/ {
	/* This DT contains all the available interfaces of
	 * all variants of Digi ConnectCard for i.MX28 module.
	 * The boot loader may modify this device tree at run-time
	 * to accomodate it to the specific module variant detected. */
	model = "Digi ConnectCard for i.MX28 module";
	compatible = "digi,ccardimx28", "fsl,imx28";

	memory {
		/* This needs to be hacked by U-Boot
		 * to write the available DRAM */
		reg = <0x40000000 0x08000000>;
	};

	apb@80000000 {
		apbh@80000000 {
			gpmi-nand@8000c000 {
				pinctrl-names = "default";
				pinctrl-0 = <&gpmi_pins_a &gpmi_status_cfg>;
				status = "okay";
			};

			ssp0: ssp@80010000 {
				compatible = "fsl,imx28-mmc";
				pinctrl-names = "default";
				pinctrl-0 = <&mmc0_4bit_pins_a &mmc0_sck_cfg>;
				bus-width = <4>;
				broken-cd;
				vmmc-supply = <&reg_3p3v>;
				status = "disabled";
			};

			/* SSP0 as SPI port */
//			ssp0: ssp@80010000 {
//				compatible = "fsl,imx28-spi";
//				pinctrl-names = "default";
//				pinctrl-0 = <&spi0_pins_a>;
//				status = "okay";
//			};

			ssp1: ssp@80012000 {
				compatible = "fsl,imx28-spi";
				pinctrl-names = "default";
				pinctrl-0 = <&spi1_pins_a>;
				status = "disabled";
			};

			ssp2: ssp@80014000 {
				compatible = "fsl,imx28-spi";
				pinctrl-names = "default";
				pinctrl-0 = <&spi2_pins_a>;
				status = "disabled";

				flash: m25p80@0 {
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "sst,sst25vf016b";
					spi-max-frequency = <40000000>;
					reg = <0>;
				};
			};

			ssp3: ssp@80016000 {
				compatible = "fsl,imx28-spi";
				pinctrl-names = "default";
				pinctrl-0 = <&spi3_pins_a>;
				status = "okay";
			};

			can0: can@80032000 {
				pinctrl-names = "default";
				pinctrl-0 = <&can0_pins_a>;
				status = "disabled";
			};

			can1: can@80034000 {
				pinctrl-names = "default";
				pinctrl-0 = <&can1_pins_a>;
				status = "disabled";
			};

			pinctrl@80018000 {
				pinctrl-names = "default";

				led_pin_gpio3_5: led_gpio3_5@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x3053 /* MX28_PAD_AUART1_TX__GPIO_3_5 */
					>;
					fsl,drive-strength = <0>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};

				/* NAND powered at 1.8V */
				gpmi_pins_a: gpmi-nand@0 {
					fsl,voltage = <0>;
				};

				/* I2C1 has external pull-ups on module */
				i2c1_pins_a: i2c1@0 {
					fsl,pull-up = <0>;
				};

				lcdif_pins_ccard: lcdif_ccard@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						0x11e0 /* MX28_PAD_LCD_DOTCLK__LCD_DOTCLK */
						0x11f0 /* MX28_PAD_LCD_ENABLE__LCD_ENABLE */
						0x31e1 /* MX28_PAD_LCD_RESET__LCD_VSYNC */
						0x11d0 /* MX28_PAD_LCD_HSYNC__LCD_HSYNC */
					>;
					fsl,drive-strength = <1>;
					fsl,voltage = <1>;
					fsl,pull-up = <0>;
				};
			};
		};

		apbx@80040000 {
			/* AUART0 connected to Atheros Bluetooth chip */
			auart0: serial@8006a000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart0_pins_a>;
				status = "okay";
			};

			saif0: saif@80042000 {
				pinctrl-names = "default";
				pinctrl-0 = <&saif0_pins_a>;
				status = "disabled";
			};

			saif1: saif@80046000 {
				pinctrl-names = "default";
				pinctrl-0 = <&saif1_pins_a>;
				fsl,saif-master = <&saif0>;
				status = "disabled";
			};

			lradc@80050000 {
				fsl,lradc-touchscreen-wires = <4>;
				status = "disabled";
			};

			usbphy0: usbphy@8007c000 {
				status = "disabled";
			};

			usbphy1: usbphy@8007e000 {
				status = "disabled";
			};
		};
	};

	ahb@80080000 {
		usb0: usb@80080000 {
			vbus-supply = <&reg_usb0_vbus>;
			status = "disabled";
		};

		usb1: usb@80090000 {
			vbus-supply = <&reg_usb1_vbus>;
			status = "disabled";
		};

		mac0: ethernet@800f0000 {
			phy-mode = "rmii";
			pinctrl-names = "default";
			pinctrl-0 = <&mac0_pins_a>;
			phy-reset-gpios = <&gpio3 29 0>;
			phy-reset-duration = <50>;
			status = "okay";
		};

		mac1: ethernet@800f4000 {
			phy-mode = "rmii";
			pinctrl-names = "default";
			pinctrl-0 = <&mac1_pins_a>;
			phy-reset-gpios = <&gpio4 13 0>;
			phy-reset-duration = <50>;
			status = "okay";
		};
	};

	regulators {
		compatible = "simple-bus";

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		reg_usb0_vbus: usb0_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb0_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 9 0>;
			enable-active-high;
		};

		reg_usb1_vbus: usb1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 8 0>;
			enable-active-high;
		};
	};

	/* SPI0 (GPIO) */
//	spi0 {
//		compatible = "spi-gpio";
//		pinctrl-0 = <&spi0_pins_b>;
//		gpio-sck = <&gpio2 10 0>;
//		gpio-mosi = <&gpio2 8 0>;
//		gpio-miso = <&gpio2 0 0>;
//		cs-gpios = <&gpio2 3 0>;
//		num-chipselects = <1>;
//		#address-cells = <1>;
//		#size-cells = <0>;
//		status = "disabled";
//	};

	/* SPI1 (GPIO) */
	spi1 {
		compatible = "spi-gpio";
		pinctrl-0 = <&spi1_pins_b>;
		gpio-sck = <&gpio2 12 0>;
		gpio-mosi = <&gpio2 13 0>;
		gpio-miso = <&gpio2 14 0>;
		cs-gpios = <&gpio2 15 0>;
		num-chipselects = <1>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};

	/* SPI3 (GPIO) */
	spi3 {
		compatible = "spi-gpio";
		pinctrl-0 = <&spi3_pins_b>;
		gpio-sck = <&gpio2 24 0>;
		gpio-mosi = <&gpio2 25 0>;
		gpio-miso = <&gpio2 26 0>;
		cs-gpios = <&gpio2 27 0>;
		num-chipselects = <1>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};
};
