/*
 * Copyright 2014 Digi International, Inc.
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include "imx6dl-ccimx6.dtsi"
#include "imx6qdl-ccimx6sbc.dtsi"

/ {
	model = "Digi International ConnectCore 6 Single Board Computer.";
	compatible = "digi,ccimx6sbc", "digi,ccimx6", "fsl,imx6dl";
	digi,machine,name = "ccimx6sbc";

	aliases {
		mxcfb0 = &mxcfb1;
		mxcfb1 = &mxcfb2;
	};
};