/*
 * Copyright 2016 Digi International, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
/* i.MX6 UltraLite CPU */
#include "imx6ul.dtsi"
/* ConnectCore 6UL (common) */
#include "imx6ul-ccimx6ul.dtsi"
/* ConnectCore 6UL StarterBoard */
#include "imx6ul-ccimx6ulstarter.dtsi"

&fec1 {
	status = "okay";
};

&caam_keyblob {
	status = "okay";
};

/* CAN1 (Raspberry PI Expansion header) */
&flexcan1 {
	status = "okay";
};

/* UART4 (Raspberry PI Expansion header) */
&uart4 {
	status = "okay";
};

/* UART5 (Console) */
&uart5 {
	status = "okay";
};

&usbotg1 {
	status = "okay";
};

&usbotg2 {
	status = "okay";
};

/* USDHC2 (microSD) */
&usdhc2 {
	status = "okay";
};

/* MCA IOs connected to Grove connectors configured as ADCs */
&mca_adc {
	digi,adc-ch-list = <0 4>;
};

/* I2C2 (Raspberry PI Expansion header and Grove connector) */
&i2c2 {
	status = "okay";
};
