/*
 * Copyright 2016 Digi International, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
/* ConnectCore 6 (Quad wireless/bluetooth variant) */
#include "imx6q-ccimx6-wb.dtsi"
/* ConnectCore 6 SBC carrier board */
#include "imx6q-ccimx6sbc.dtsi"

&fec {
	status = "okay";
};

&hdmi_core {
	status = "okay";
};

&hdmi_video {
	status = "okay";
};

&hdmi_audio {
	status = "okay";
};

&sound_hdmi {
	status = "okay";
};

&sound_sgtl5000 {
	status = "okay";
};

&codec_power {
	status = "okay";
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		status = "okay";
	};
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&mxcfb3 {
	status = "okay";
};

&mxcfb4 {
	status = "okay";
};

&audmux {
	status = "okay";
};

&ecspi1 {
	status = "okay";

	spidev@0 {
		status = "okay";
	};
};

&i2c3 {
	status = "okay";

	fusion@10 {
		status = "okay";
	};

	hdmi: edid@50 {
		status = "okay";
	};

	sgtl5000: codec@0a {
		status = "okay";
	};

	/* MIPI-CSI2 camera */
	ov5640_mipi: ov5640_mipi@4c {
		status = "okay";
	};

	/* Parallel camera CSI1 */
	ov5642_2: ov5642_2@6c {
		status = "okay";
	};
};

&mipi_csi {
	status = "okay";
};

&mipi_dsi {
	status = "okay";
};

&mipi_dsi_reset {
	status = "okay";
};

&pcie {
	status = "okay";
};

&ssi2 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&uart5 {
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	status = "okay";
};

&usdhc2 {
	status = "okay";
};

&flexcan1 {
	status = "okay";
};

&flexcan2 {
	status = "okay";
};

&v4l2_cap_0 {
	status = "okay";
};

&v4l2_cap_1 {
	status = "okay";
};

&v4l2_out {
	status = "okay";
};
