/*
 * Copyright 2014 Digi International, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include "imx6qdl-ccimx6sbc.dtsi"

/ {
	model = "Digi International ConnectCore 6 Single Board Computer.";
	compatible = "digi,ccimx6sbc", "digi,ccimx6", "fsl,imx6q";
	digi,machine,name = "ccimx6sbc";

	aliases {
		mxcfb0 = &mxcfb1;
		mxcfb1 = &mxcfb2;
		mxcfb2 = &mxcfb3;
		mxcfb3 = &mxcfb4;
	};

	mxcfb3: fb@2 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB24";
		mode_str ="LQ070Y3DG3B";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
	};

	mxcfb4: fb@3 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
	};
};

&hdmi_core {
	ipu_id = <1>;
	disp_id = <1>;
};

&ldb {
	lvds-channel@0 {
		crtc = "ipu1-di0";
		primary;
	};

	lvds-channel@1 {
		crtc = "ipu1-di1";
	};
};

&i2c3 {
        ov5640_mipi: ov5640_mipi@4c {
                ipu_id = <1>;
                csi_id = <1>;
        };

	hdmi_ad9389: ad9889b@39 {
		pinctrl-0 = <&pinctrl_ipu2>;
		ipu_id = <1>;
		disp_id = <0>;
	};
};

&mipi_csi {
        ipu_id = <1>;
        csi_id = <1>;
};

&v4l2_cap_0 {
	ipu_id = <1>;
	csi_id = <1>;
};

&v4l2_cap_1 {
	ipu_id = <0>;
	csi_id = <0>;
};

&iomuxc {


	ipu2 {
		pinctrl_ipu2: ipu2 {
			fsl,pins = <
				/* Display IRQ */
				MX6QDL_PAD_NANDF_D1__GPIO2_IO01            0x80000000
				/* Display contrast */
				MX6QDL_PAD_DI0_PIN4__GPIO4_IO20            0x80000000
				MX6QDL_PAD_DI0_DISP_CLK__IPU2_DI0_DISP_CLK 0x38
				MX6QDL_PAD_DI0_PIN15__IPU2_DI0_PIN15       0x10
				MX6QDL_PAD_DI0_PIN2__IPU2_DI0_PIN02        0x10
				MX6QDL_PAD_DI0_PIN3__IPU2_DI0_PIN03        0x10
				MX6QDL_PAD_DISP0_DAT0__IPU2_DISP0_DATA00   0x10
				MX6QDL_PAD_DISP0_DAT1__IPU2_DISP0_DATA01   0x10
				MX6QDL_PAD_DISP0_DAT2__IPU2_DISP0_DATA02   0x10
				MX6QDL_PAD_DISP0_DAT3__IPU2_DISP0_DATA03   0x10
				MX6QDL_PAD_DISP0_DAT4__IPU2_DISP0_DATA04   0x10
				MX6QDL_PAD_DISP0_DAT5__IPU2_DISP0_DATA05   0x10
				MX6QDL_PAD_DISP0_DAT6__IPU2_DISP0_DATA06   0x10
				MX6QDL_PAD_DISP0_DAT7__IPU2_DISP0_DATA07   0x10
				MX6QDL_PAD_DISP0_DAT8__IPU2_DISP0_DATA08   0x10
				MX6QDL_PAD_DISP0_DAT9__IPU2_DISP0_DATA09   0x10
				MX6QDL_PAD_DISP0_DAT10__IPU2_DISP0_DATA10  0x10
				MX6QDL_PAD_DISP0_DAT11__IPU2_DISP0_DATA11  0x10
				MX6QDL_PAD_DISP0_DAT12__IPU2_DISP0_DATA12  0x10
				MX6QDL_PAD_DISP0_DAT13__IPU2_DISP0_DATA13  0x10
				MX6QDL_PAD_DISP0_DAT14__IPU2_DISP0_DATA14  0x10
				MX6QDL_PAD_DISP0_DAT15__IPU2_DISP0_DATA15  0x10
				MX6QDL_PAD_DISP0_DAT16__IPU2_DISP0_DATA16  0x10
				MX6QDL_PAD_DISP0_DAT17__IPU2_DISP0_DATA17  0x10
				MX6QDL_PAD_DISP0_DAT18__IPU2_DISP0_DATA18  0x10
				MX6QDL_PAD_DISP0_DAT19__IPU2_DISP0_DATA19  0x10
				MX6QDL_PAD_DISP0_DAT20__IPU2_DISP0_DATA20  0x10
				MX6QDL_PAD_DISP0_DAT21__IPU2_DISP0_DATA21  0x10
				MX6QDL_PAD_DISP0_DAT22__IPU2_DISP0_DATA22  0x10
				MX6QDL_PAD_DISP0_DAT23__IPU2_DISP0_DATA23  0x10
			>;
		};
	};
};
