/*
 * Copyright 2015 Digi International, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx6dl.dtsi"
/* ConnectCore 6 (common)*/
#include "imx6qdl-ccimx6.dtsi"
/* ConnectCore 6 SBC carrier board */
#include "imx6dl-ccimx6sbc.dtsi"

&fec {
	status = "okay";
};

&hdmi_core {
	status = "okay";
};

&hdmi_video {
	status = "okay";
};

&hdmi_audio {
	status = "okay";
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		status = "okay";
	};
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&audmux {
	status = "okay";
};

&ecspi1 {
	status = "okay";

	spidev@0 {
		status = "okay";
	};
};

&i2c3 {
	status = "okay";

	fusion@10 {
		status = "okay";
	};
};

&mipi_csi {
	status = "okay";
};
