/*
 * Copyright 2014 Digi International, Inc.
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	memory {
		/* U-boot to fill memory details here */
	};
};

&cpu0 {
	arm-supply = <&reg_arm>;
	soc-supply = <&reg_soc>;
	pu-supply = <&reg_pu>;
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_2>;
	status = "okay";

	pmic_dialog: dialog@58 {
		compatible = "dlg,da9063";
		reg = <0x58>;
		interrupt-parent = <&gpio7>;
		interrupts = <12 2>;
		interrupt-controller;
		#interrupt-cells = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic_dialog>;

		rtc {
			compatible = "dlg,da9063-rtc";
			interrupts = <1 2>;
			interrupts-names = "ALARM" , "TIMER";
			interrupt-parent = <&pmic_dialog>;
		};

		onkey {
			compatible = "dlg,da9063-onkey";
			interrupts = <0>;
			interrupts-names = "ONKEY";
			interrupt-parent = <&pmic_dialog>;
			dlg,key-power;
		};

		hwmon {
			compatible = "dlg,da9063-hwmon";
			interrupts = <3>;
			interrupts-names = "HWMON";
			interrupt-parent = <&pmic_dialog>;
			dlg,tjunc-offset = <(-5)>;
		};

		gpio_extender: gpio {
			compatible = "dlg,da9063-gpio";
			gpio-controller;
			#gpio-cells = <2>;
		};

		regulators {
			compatible = "dlg,da9063-regulator";
			interrupts = <8>;
			interrupts-names = "LDO_LIM";
			interrupt-parent = <&pmic_dialog>;

			bcore1: DA9063_BCORE1 {
				regulator-name = "DA9063_BCORE1";
				regulator-boot-on;
				regulator-always-on;
				regulator-suspend-mem-microvolt = <1377000>;
				regulator-suspend-standby-microvolt = <1377000>;
			};

			bcore2: DA9063_BCORE2 {
				regulator-name = "DA9063_BCORE2";
				regulator-boot-on;
				regulator-always-on;
				regulator-suspend-mem-microvolt = <1377000>;
				regulator-suspend-standby-microvolt = <1377000>;
			};

			bpro: DA9063_BPRO {
				regulator-name = "DA9063_BPRO";
				regulator-boot-on;
				regulator-always-on;
				regulator-suspend-mem-disabled;
				regulator-suspend-standby-disabled;
			};

			bmem: DA9063_BMEM {
				regulator-name = "DA9063_BMEM";
				regulator-boot-on;
				regulator-always-on;
				regulator-suspend-mem-microvolt = <1500000>;
				regulator-suspend-standby-microvolt = <1500000>;
			};

			bio: DA9063_BIO {
				regulator-name = "DA9063_BIO";
				regulator-boot-on;
				regulator-suspend-mem-microvolt = <3300000>;
				regulator-suspend-standby-microvolt = <3300000>;
			};

			bperi: DA9063_BPERI {
				regulator-name = "DA9063_BPERI";
				regulator-boot-on;
				regulator-always-on;
				regulator-suspend-mem-microvolt = <3300000>;
				regulator-suspend-standby-microvolt = <3300000>;
			};

			ldo2: DA9063_LDO2 {
				regulator-name = "DA9063_LDO2";
				regulator-boot-on;
				regulator-suspend-mem-microvolt = <1800000>;
				regulator-suspend-standby-microvolt = <1800000>;
			};

			ldo3: DA9063_LDO3 {
				regulator-name = "DA9063_LDO3";
				regulator-boot-on;
				regulator-always-on;
				regulator-suspend-mem-microvolt = <3300000>;
				regulator-suspend-standby-microvolt = <3300000>;
			};

			ldo4: DA9063_LDO4 {
				regulator-name = "DA9063_LDO4";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <2500000>;
			};

			ldo5: DA9063_LDO5 {
				regulator-name = "DA9063_LDO5";
				regulator-boot-on;
				regulator-always-on;
				regulator-suspend-mem-microvolt = <3000000>;
				regulator-suspend-standby-microvolt = <3000000>;
			};

			ldo6: DA9063_LDO6 {
				regulator-name = "DA9063_LDO6";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3600000>;
				regulator-suspend-mem-disabled;
				regulator-suspend-standby-disabled;
			};

			ldo11: DA9063_LDO11 {
				regulator-name = "DA9063_LDO11";
				regulator-boot-on;
				regulator-always-on;
				regulator-suspend-mem-microvolt = <2800000>;
				regulator-suspend-standby-microvolt = <2800000>;
			};

			out_32k: DA9063_32K_OUT {
				regulator-name = "DA9063_32K_OUT";
			};
		};
	};
};

&iomuxc {
	pmic_dialog {
		pinctrl_pmic_dialog: pmic_dialoggrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_17__GPIO7_IO12 0x1b0b0
			>;
		};
	};
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1_1>;
	pinctrl-1 = <&pinctrl_usdhc1_1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_1_200mhz>;
	no-1-8-v;
	status = "okay";
};

